In [1]:
import csv
import pandas as pd
import numpy as np

## Tasks for Step 1

In [2]:
# TODO: Load airports.dat.txt into a dataframe called airports_df
airport_names = ['airport_id', 'name', 'city', 
         'country', 'FAA/IATA_code','ICAO_code', 'latitude', 'longitude', 'altitude', 'timezone', 'DST',
         'Tz_DB_time_zone']
airports_df = pd.read_csv('airports.dat.txt', header = None, names = airport_names)

In [3]:
# TODO: Load airlines.dat.txt into a dataframe called airlines_df
airline_names = ['airline_id', 'name', 'alias', 'IATA', 'ICAO', 'call_sign', 'country', 'active']
airlines_df = pd.read_csv('airlines.dat.txt', header = None, names = airline_names)

In [4]:
# TODO: Load routes.dat.txt into a dataframe called routes_df
routes_names = ['airline', 'airline_id','source_airport', 'source_airport_id', 'dest_airport',
                'dest_airport_id', 'codeshare', 'stops', 'equipment']
routes_df = pd.read_csv('routes.dat.txt', header=None, names = routes_names)

In [5]:
# TODO: Load On_Time_On_Time_Performance_2016_10.csv into flights_df, but
# also restrict to the following columns: 'Year','Month','DayofMonth','AirlineID','Carrier','FlightNum','Origin','Dest','ArrDelayMinutes','Cancelled'
valid_cols = ['Year','Month','DayofMonth','AirlineID','Carrier','FlightNum','Origin','Dest','ArrDelayMinutes','Cancelled']
flights_df = pd.read_csv('On_Time_On_Time_Performance_2016_10.csv', usecols = valid_cols)

## Step 1.1

In [6]:
airports_df

,airport_id,name,city,country,FAA/IATA_code,ICAO_code,latitude,longitude,altitude,timezone,DST,Tz_DB_time_zone
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule
10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0.0,N,Atlantic/Reykjavik
11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0.0,N,Atlantic/Reykjavik
12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0.0,N,Atlantic/Reykjavik
13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0.0,N,Atlantic/Reykjavik
14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0.0,N,Atlantic/Reykjavik
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985000,-22.605556,171,0.0,N,Atlantic/Reykjavik
16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965000,11,0.0,N,Atlantic/Reykjavik
17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.130000,-21.940556,48,0.0,N,Atlantic/Reykjavik
18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0.0,N,Atlantic/Reykjavik
19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0.0,N,Atlantic/Reykjavik
20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5.0,A,America/Toronto
21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.032500,760,-6.0,A,America/Winnipeg
22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4.0,A,America/Halifax
23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.772500,80,-8.0,A,America/Vancouver
25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7.0,A,America/Edmonton
26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204444,71,-5.0,A,America/Toronto
27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5.0,A,America/Toronto
28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6.0,A,America/Winnipeg
29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8.0,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...
8077,9512,Port of Seattle,Seattle,United States,NaN,PSEA,47.609178,-122.350605,0,-8.0,A,America/Los_Angeles
8078,9513,Ferry Terminal,Whittier,United States,NaN,WHIT,60.776566,-148.683367,0,-9.0,A,America/Anchorage
8079,9514,Ferry Terminal,Valdez,United States,NaN,VLDZ,61.123976,-146.365309,0,-9.0,A,America/Anchorage
8080,9515,Gare Routiere,Saint-Louis,Reunion,NaN,STLS,-21.289604,55.407269,103,4.0,E,Indian/Reunion
8081,9516,Bus Stop,La Riviere,Reunion,NaN,LRIV,-21.272574,55.437706,190,4.0,E,Indian/Reunion
8082,9517,Bus Stop,Cilaos,Reunion,NaN,CILS,-21.135518,55.472087,4000,4.0,E,Indian/Reunion
8083,9518,Bus Stop,Hell-Bourg,Reunion,NaN,HLBG,-21.064020,55.518453,3000,4.0,E,Indian/Reunion
8084,9519,Bus Stop,Salazie,Reunion,NaN,SLZI,-21.027485,55.538955,3000,4.0,E,Indian/Reunion
8085,9520,Gare,St Andre,Reunion,NaN,ANDR,-20.963272,55.652508,100,4.0,E,Indian/Reunion
8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,NaN,SDNS,-20.877683,55.457393,0,4.0,E,Indian/Reunion
8087,9522,Gare Routiere,Saint Pierre,Reunion,NaN,STPR,-21.334240,55.471331,0,4.0,E,Indian/Reunion
8088,9523,Baie Ste Anne,Praslin,Seychelles,NaN,PLIN,-4.347119,55.765688,0,4.0,N,Indian/Mahe
8089,9524,La Passe,La Digue,Seychelles,NaN,LADG,-4.347969,55.829069,0,4.0,N,Indian/Mahe
8090,9525,Ferry Dock,Bainbridge Island,United States,NaN,BAIN,47.622237,-122.509362,0,-8.0,A,America/Los_Angeles
8091,9526,Bus,Phnom Penh,Cambodia,NaN,PNMP,11.561716,104.914276,0,7.0,N,Asia/Phnom_Penh
8092,9527,Bus,Siem Reap,Cambodia,NaN,SMRP,13.361002,103.859543,0,7.0,N,Asia/Phnom_Penh
8093,9528,Bus,Sihanoukville,Cambodia,NaN,SNKV,10.607220,103.524886,0,7.0,N,Asia/Phnom_Penh
8094,9529,Bus,Kampot,Cambodia,NaN,KMPT,10.614922,104.177724,0,7.0,N,Asia/Phnom_Penh
8095,9530,Bus,Kep,Cambodia,NaN,KEPC,10.480174,104.294228,0,7.0,N,Asia/Phnom_Penh
8096,9531,Main Station,Taipei,Taiwan,NaN,TPEI,25.046176,121.517532,0,8.0,N,Asia/Taipei
8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,9533,Chatsworth Station,Chatsworth,United States,CWT,\N,34.256944,-118.598889,978,-8.0,A,America/Los_Angeles
8099,9534,Algerciras Port,Algerciras,Spain,NaN,\N,36.136000,-5.435000,0,1.0,E,Europe/Madrid
8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,\N,48.850000,-123.500000,0,-8.0,A,America/Vancouver
8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,\N,49.616667,-124.016667,0,-8.0,A,America/Vancouver
8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,\N,50.066667,-124.983333,0,-8.0,A,America/Vancouver
8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,\N,50.575556,-127.028611,225,-8.0,A,America/Vancouver
8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,\N,50.883333,-126.833333,0,-8.0,A,America/Vancouver
8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,\N,48.618397,-123.005960,0,-8.0,A,America/Los_Angeles
8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,\N,32.755200,-117.199500,0,-8.0,A,America/Los_Angeles

In [7]:
airlines_df

,airline_id,name,alias,IATA,ICAO,call_sign,country,active
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N
5,6,223 Flight Unit State Airline,\N,NaN,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,\N,NaN,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,\N,NaN,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,\N,NaN,SEC,SECUREX,United States,N
9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y
10,11,4D Air,\N,NaN,QRT,QUARTET,Thailand,N
11,12,611897 Alberta Limited,\N,NaN,THD,DONUT,Canada,N
12,13,Ansett Australia,\N,AN,AAA,ANSETT,Australia,Y
13,14,Abacus International,\N,1B,NaN,NaN,Singapore,Y
14,15,Abelag Aviation,\N,W9,AAB,ABG,Belgium,N
15,16,Army Air Corps,\N,NaN,AAC,ARMYAIR,United Kingdom,N
16,17,Aero Aviation Centre Ltd.,\N,NaN,AAD,SUNRISE,Canada,N
17,18,Aero Servicios Ejecutivos Internacionales,\N,NaN,SII,ASEISA,Mexico,N
18,19,Aero Biniza,\N,NaN,BZS,BINIZA,Mexico,N
19,20,Aero Albatros,\N,NaN,ABM,ALBATROS ESPANA,Spain,N
20,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y
21,22,Aloha Airlines,\N,AQ,AAH,ALOHA,United States,Y
22,23,Alaska Island Air,\N,NaN,AAK,ALASKA ISLAND,United States,N
23,24,American Airlines,\N,AA,AAL,AMERICAN,United States,Y
24,25,Aviation Management Corporation,\N,NaN,AAM,AM CORP,United States,N
25,26,Atlantis Airlines (USA),\N,NaN,AAO,ATLANTIS AIR,United States,N
26,27,Aerovista Airlines,\N,NaN,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,28,Asiana Airlines,\N,OZ,AAR,ASIANA,Republic of Korea,Y
28,29,Askari Aviation,\N,4K,AAS,AL-AAS,Pakistan,Y
29,30,Australia Asia Airlines,\N,NaN,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...
6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,NaN,CCB,NaN,Barbados,Y
6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,19745,Transilvania,NaN,NaN,TNS,NaN,Romania,Y
6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,19776,Grand Cru Airlines,NaN,NaN,GCA,NaN,Lithuania,Y
6028,19785,Go2Sky,NaN,NaN,RLX,RELAX,Slovakia,Y
6029,19803,All Argentina,All Argentina,L1,AL1,NaN,Argentina,Y
6030,19804,All America,All America,A2,AL2,NaN,United States,Y
6031,19805,All Asia,All Asia,L9,AL3,NaN,China,Y
6032,19806,All Africa,All Africa,9A,99F,NaN,South Africa,Y
6033,19807,Regionalia México,Regionalia México,N4,J88,NaN,Mexico,Y
6034,19808,All Europe,All Europe,N9,N99,NaN,United Kingdom,Y
6035,19809,All Spain,All Spain,N7,N77,NaN,Spain,Y
6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,NaN,Iceland,Y
6037,19811,British Air Ferries,NaN,??,??!,NaN,United Kingdom,N
6038,19812,Voestar,Voestar Brasil,8K,K88,NaN,Brazil,Y
6039,19813,All Colombia,All Colombia,7O,7KK,NaN,Colombia,Y
6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,NaN,Uruguay,Y
6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,NaN,Venezuela,Y
6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,NaN,Chile,Y
6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,NaN,Cuba,Y
6044,19830,All Australia,All Australia,88,8K8,NaN,Australia,Y
6045,19831,Fly Europa,NaN,ER,RWW,NaN,Spain,Y
6046,19834,FlyPortugal,NaN,PO,FPT,FlyPortugal,Portugal,Y
6047,19845,FTI Fluggesellschaft,NaN,NaN,FTI,NaN,Germany,N

In [8]:
routes_df

,airline,airline_id,source_airport,source_airport_id,dest_airport,dest_airport_id,codeshare,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
5,2B,410,DME,4029,KZN,2990,NaN,0,CR2
6,2B,410,DME,4029,NBC,6969,NaN,0,CR2
7,2B,410,DME,4029,TGK,\N,NaN,0,CR2
8,2B,410,DME,4029,UUA,6160,NaN,0,CR2
9,2B,410,EGO,6156,KGD,2952,NaN,0,CR2
10,2B,410,EGO,6156,KZN,2990,NaN,0,CR2
11,2B,410,GYD,2922,NBC,6969,NaN,0,CR2
12,2B,410,KGD,2952,EGO,6156,NaN,0,CR2
13,2B,410,KZN,2990,AER,2965,NaN,0,CR2
14,2B,410,KZN,2990,ASF,2966,NaN,0,CR2
15,2B,410,KZN,2990,CEK,2968,NaN,0,CR2
16,2B,410,KZN,2990,DME,4029,NaN,0,CR2
17,2B,410,KZN,2990,EGO,6156,NaN,0,CR2
18,2B,410,KZN,2990,LED,2948,NaN,0,CR2
19,2B,410,KZN,2990,SVX,2975,NaN,0,CR2
20,2B,410,LED,2948,KZN,2990,NaN,0,CR2
21,2B,410,LED,2948,NBC,6969,NaN,0,CR2
22,2B,410,LED,2948,UUA,6160,NaN,0,CR2
23,2B,410,MRV,2962,ASF,2966,NaN,0,CR2
24,2B,410,NBC,6969,DME,4029,NaN,0,CR2
25,2B,410,NBC,6969,GYD,2922,NaN,0,CR2
26,2B,410,NBC,6969,LED,2948,NaN,0,CR2
27,2B,410,NBC,6969,SVX,2975,NaN,0,CR2
28,2B,410,NJC,2972,SVX,2975,NaN,0,CR2
29,2B,410,NJC,2972,UUA,6160,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178,SYD,3361,ABX,3333,NaN,0,SF3
67634,ZL,4178,SYD,3361,ARM,4062,NaN,0,SF3
67635,ZL,4178,SYD,3361,BHQ,6241,NaN,0,SF3
67636,ZL,4178,SYD,3361,BHS,6249,NaN,0,SF3
67637,ZL,4178,SYD,3361,BNK,4291,NaN,0,SF3
67638,ZL,4178,SYD,3361,DBO,3358,NaN,0,SF3
67639,ZL,4178,SYD,3361,GFF,6271,NaN,0,SF3
67640,ZL,4178,SYD,3361,LSY,6287,NaN,0,SF3
67641,ZL,4178,SYD,3361,MIM,6294,NaN,0,SF3
67642,ZL,4178,SYD,3361,MQL,6298,NaN,0,SF3
67643,ZL,4178,SYD,3361,MYA,6302,NaN,0,SF3
67644,ZL,4178,SYD,3361,NRA,6307,NaN,0,SF3
67645,ZL,4178,SYD,3361,NTL,4320,NaN,0,SF3
67646,ZL,4178,SYD,3361,OAG,6793,NaN,0,SF3
67647,ZL,4178,SYD,3361,PKE,6317,NaN,0,SF3
67648,ZL,4178,SYD,3361,TRO,6794,NaN,0,SF3
67649,ZL,4178,SYD,3361,WGA,3363,NaN,0,SF3
67650,ZL,4178,TRO,6794,GFN,6792,NaN,0,SF3
67651,ZL,4178,TRO,6794,SYD,3361,NaN,0,SF3
67652,ZL,4178,TSV,3330,ISA,3324,NaN,0,SF3
67653,ZL,4178,TSV,3330,WIN,6337,NaN,0,SF3
67654,ZL,4178,WGA,3363,MEL,3339,NaN,0,SF3
67655,ZL,4178,WGA,3363,SYD,3361,NaN,0,SF3
67656,ZL,4178,WIN,6337,LRE,6289,NaN,0,SF3
67657,ZL,4178,WIN,6337,TSV,3330,NaN,0,SF3
67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734

In [9]:
flights_df

,Year,Month,DayofMonth,AirlineID,Carrier,FlightNum,Origin,Dest,ArrDelayMinutes,Cancelled
0,2016,10,3,19805,AA,1,BOS,JFK,0.0,0.0
1,2016,10,4,19805,AA,1,BOS,JFK,0.0,0.0
2,2016,10,1,19805,AA,1,JFK,LAX,0.0,0.0
3,2016,10,2,19805,AA,1,JFK,LAX,18.0,0.0
4,2016,10,3,19805,AA,1,JFK,LAX,0.0,0.0
5,2016,10,4,19805,AA,1,JFK,LAX,0.0,0.0
6,2016,10,5,19805,AA,1,JFK,LAX,0.0,0.0
7,2016,10,6,19805,AA,1,JFK,LAX,0.0,0.0
8,2016,10,7,19805,AA,1,JFK,LAX,0.0,0.0
9,2016,10,8,19805,AA,1,JFK,LAX,0.0,0.0
10,2016,10,9,19805,AA,1,JFK,LAX,0.0,0.0
11,2016,10,10,19805,AA,1,JFK,LAX,0.0,0.0
12,2016,10,11,19805,AA,1,JFK,LAX,0.0,0.0
13,2016,10,12,19805,AA,1,JFK,LAX,10.0,0.0
14,2016,10,13,19805,AA,1,JFK,LAX,0.0,0.0
15,2016,10,14,19805,AA,1,JFK,LAX,0.0,0.0
16,2016,10,15,19805,AA,1,JFK,LAX,0.0,0.0
17,2016,10,16,19805,AA,1,JFK,LAX,0.0,0.0
18,2016,10,17,19805,AA,1,JFK,LAX,0.0,0.0
19,2016,10,18,19805,AA,1,JFK,LAX,0.0,0.0
20,2016,10,19,19805,AA,1,JFK,LAX,0.0,0.0
21,2016,10,20,19805,AA,1,JFK,LAX,0.0,0.0
22,2016,10,21,19805,AA,1,JFK,LAX,0.0,0.0
23,2016,10,22,19805,AA,1,JFK,LAX,0.0,0.0
24,2016,10,23,19805,AA,1,JFK,LAX,27.0,0.0
25,2016,10,24,19805,AA,1,JFK,LAX,23.0,0.0
26,2016,10,25,19805,AA,1,JFK,LAX,0.0,0.0
27,2016,10,26,19805,AA,1,JFK,LAX,0.0,0.0
28,2016,10,27,19805,AA,1,JFK,LAX,0.0,0.0
29,2016,10,28,19805,AA,1,JFK,LAX,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
472596,2016,10,25,21171,VX,12,SFO,JFK,0.0,0.0
472597,2016,10,25,21171,VX,161,EWR,LAX,2.0,0.0
472598,2016,10,25,21171,VX,162,LAX,EWR,0.0,0.0
472599,2016,10,25,21171,VX,165,EWR,LAX,0.0,0.0
472600,2016,10,25,21171,VX,166,LAX,EWR,20.0,0.0
472601,2016,10,25,21171,VX,169,EWR,LAX,0.0,0.0
472602,2016,10,25,21171,VX,170,LAX,EWR,11.0,0.0
472603,2016,10,25,21171,VX,1742,SFO,SEA,0.0,0.0
472604,2016,10,25,21171,VX,1747,SEA,SFO,NaN,1.0
472605,2016,10,25,21171,VX,174,SFO,EWR,0.0,0.0
472606,2016,10,25,21171,VX,1780,SEA,LAX,3.0,0.0
472607,2016,10,25,21171,VX,182,SFO,EWR,36.0,0.0
472608,2016,10,25,21171,VX,183,EWR,SFO,30.0,0.0
472609,2016,10,25,21171,VX,187,EWR,SFO,31.0,0.0
472610,2016,10,25,21171,VX,1930,SFO,LAX,0.0,0.0
472611,2016,10,25,21171,VX,1935,LAX,SFO,178.0,0.0
472612,2016,10,25,21171,VX,193,EWR,SFO,96.0,0.0
472613,2016,10,25,21171,VX,1946,SFO,LAX,NaN,1.0
472614,2016,10,25,21171,VX,1,SFO,DCA,0.0,0.0
472615,2016,10,25,21171,VX,201,ORD,SFO,2.0,0.0
472616,2016,10,25,21171,VX,202,SFO,ORD,1.0,0.0
472617,2016,10,25,21171,VX,204,SFO,ORD,0.0,0.0
472618,2016,10,25,21171,VX,205,ORD,SFO,9.0,0.0
472619,2016,10,25,21171,VX,210,SFO,ORD,116.0,0.0
472620,2016,10,25,21171,VX,211,ORD,SFO,83.0,0.0
472621,2016,10,25,21171,VX,218,SFO,AUS,64.0,0.0
472622,2016,10,25,21171,VX,219,AUS,SFO,2.0,0.0
472623,2016,10,25,21171,VX,219,SFO,PDX,20.0,0.0
472624,2016,10,25,21171,VX,221,AUS,SFO,155.0,0.0
472625,2016,10,25,21171,VX,222,SFO,AUS,130.0,0.0

## Step 1 Part 2

In [10]:
from bs4 import BeautifulSoup

input_html = "aircraft_incidents.htm"
with open(input_html, "r") as ifile:
    soup = BeautifulSoup(ifile, 'html5lib')

In [11]:
import re
#documentation read from https://docs.python.org/3.4/library/re.html
no_tags_ex = re.compile('<.*?>')
selected_data_list = [re.sub(no_tags_ex, '', str(entry)) for entry in (soup.find_all(['h3', 'li']))]
selected_data = "\n".join(selected_data_list)
# TODO: Select Year and Incident description. It can be seen that they are usually <h3> or <li> tags.

# # Assign the results to variable selected_data

In [12]:
if (not (re.search(no_tags_ex, selected_data))):
    print('No Tag Found!')

No Tag Found!

In [13]:
selected_data

'1919[edit]\nJuly 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.\nAugust 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).\n1920[edit]\nDecember 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.\n1922[edit]\nApril 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.\n1923[edit]\nMay 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.\nAugust 27 – An Air Union Farman F.60 Goliath crashes near East Malling, Kent, England, due to engine failure, and confusion among the passengers, killing one of 13 on board.\nSeptember 14 – A Daimler Airway de Havilland DH.34 crashes at Ivinghoe, Buckinghamshire, England, after stalling while attempting an emergency landing, killing all five on board.\n1924[edit]\nDecember 24 – An Imperial Airways de Havilland DH.34 crashes near Purley, Surrey, England, due to a stall during an attempted emergency landing in response to an unknown mechanical defect, killing all eight on board.\n1926[edit]\nAugust 18 – An Air Union Blériot 155 crashes while attempting an emergency landing at College Farm, Hurst, Aldington, England, due to engine failure, killing three of 15 on board; the pilot initially survives, but dies a day later.\nOctober 2 – An Air Union Blériot 155 catches fire in mid-air and crashes at Leigh, Kent, England, while the pilot attempts to make an emergency landing at Penshurst Airfield. Both members of crew and all five passengers are killed. This is the first in-flight fire occurring on an airliner.\n1927[edit]\nAugust 22 – A KLM Fokker F. VIII crashes near Sevenoaks, Kent, England, due to structural failure of the tailfin, killing one of 11 on board.\n1928[edit]\nJuly 13 – An Imperial Airways Vickers Vulcan crashes on a test flight from Croydon Airport, England, with a pilot and five passengers near Purley, Surrey, 3 miles (4.8\xa0km) from the airport, with the loss of four passengers. As a result of the crash Imperial Airways stopped the flying of staff (so-called joy rides) on test flights.\n1929[edit]\nJune 17 – An Imperial Airways Handley Page W.10 ditches in the English Channel due to engine failure, killing seven of 13 on board.\nNovember 6 – A Junkers G 24 crashes near Marden Park, Godstone, Surrey, England; of the 8 on board; only one passenger survives.\n1930[edit]\nFebruary 10 – An Air Union Farman F.63 Goliath crashes during an emergency landing at Marden Airfield, Marden, Kent, England, following failure of the right tailplane, killing two of six on board.\nOctober 5 – On its maiden voyage from England to British India, the British civil airship R101 crashes and burns in Allonne, Oise, France, while flying at low altitude at night in a rainstorm, killing 48 out of 54 on board, the worst civil airship disaster in history.\n1931[edit]\nMarch 21 – An Australian National Airways Avro 618 Ten, Southern Cloud, disappears in severe weather on a flight from Sydney to Melbourne, killing all eight on board in Australia\'s first significant airline disaster; the crash site in the Snowy Mountains remains undiscovered until 1958.\nMarch 31 – A Transcontinental &amp; Western Air Fokker F-10 Trimotor crashes near Bazaar, Kansas, after a wing breaks off in flight, killing all eight aboard, including University of Notre Dame football coach Knute Rockne.\n1933[edit]\nMarch 28 – The 1933 Imperial Airways Dixmude crash in Belgium of an Armstrong Whitworth Argosy II is the first suspected case of air sabotage; all 15 on board are killed.\nOctober 10 – The United Airlines crash near Chesterton: a Boeing 247 is destroyed by a bomb over Chesterton, Indiana, United States, in the first proven case of air sabotage on a commercial aircraft; all seven on board are killed.\nDecember 30 – In the 1933 Imperial Airways Ruysselede crash in Belgium, an Avro Ten collides with a radio mast, killing all 10 on board.\n1934[edit]\nFebruary 23 - A United Air Lines Boeing 247 crashes into a Utah canyon in bad weather, killing all eight on board.\nMay 9 – An Air France Wibault 282T crashes into the English Channel off Dungeness, Kent, killing all six on board.\nJuly 27 – A Swissair Curtiss T-32 Condor II crashes near Tuttlingen, Germany, after a wing separates in a thunderstorm, killing all 12 passengers and crew on board.\nOctober 2 – A Hillman\'s Airways de Havilland Dragon Rapide crashes into the English Channel off Folkestone, Kent, due to pilot error, killing all seven on board.\n1935[edit]\nMay 6 - TWA Flight 6, a Douglas DC-2 flying from Albuquerque, New Mexico, to Kansas City, Missouri, flying at low altitude through poor visibility at night while desperately low on fuel, crashes near Atlanta, Missouri, killing five out of thirteen on board, including a U.S. Senator. The political aftermath transforms U.S. civil air regulation.\nOctober 7 – United Airlines Trip 4, a Boeing 247D, crashes near Silver Crown, Wyoming, United States, due to pilot error; all 12 on board die.\nDecember 10 – A SABENA Savoia-Marchetti S.73 crashes near Tatsfield, Surrey, England, due to pilot error, killing all 11 on board.\n1936[edit]\nJanuary 14 – American Airlines Flight 1, a Douglas DC-2, crashes into a swamp near Goodwin, Arkansas, killing all 17 passengers and crew on board; the cause is never determined.\nApril 7 – TWA Flight 1, a Douglas DC-2, crashes near Uniontown, Pennsylvania, United States, due to pilot error, killing 12 of the 14 passengers and crew aboard.\nJune 16 – In the Havørn Accident, a Norwegian Air Lines Junkers Ju 52 crashes into Lihesten mountain in Hyllestad, Norway, killing all seven on board.\nAugust 5 – Chicago and Southern Flight 4, a Lockheed Model 10 Electra, crashes after takeoff due to pilot error, killing all eight on board.\nDecember 9 – A KLM Douglas DC-2 crashes on takeoff from Croydon Airport, England; 15 of 17 on board die.\nDecember 27 – United Airlines Trip 34, a Boeing 247, crashes at Rice Canyon (near Newhall, California, United States) due to pilot error, killing all 12 on board.\n1937[edit]\nJanuary 12 – Western Air Express Flight 7, a Boeing 247, crashes into a mountain near Newhall, California, United States. Five of the 13 people aboard die, including famed adventurer, author and filmmaker, Martin Johnson.\nFebruary 19 – An Australian National Airways Stinson Model A suffers controlled flight into terrain in Queensland, killing four of the seven people on board.\nMay 6 – The Zeppelin Hindenburg bursts into flames and crashes while attempting a landing at Naval Air Engineering Station, Lakehurst, New Jersey, United States; of the 97 people on board, 35 are killed; one person on the ground also dies.\nNovember 16 – A Sabena Junkers Ju 52 crashes near Ostend, Belgium, killing all 11 on board, including the Grand Duke Georg Donatus and Grand Duchess Cecilie of Hesse.\n1938[edit]\nJanuary 10 – Northwest Airlines Flight 2, a Lockheed L14H Super Electra, crashes near Bozeman, Montana, United States, killing all 10 on board; the machine with which the manufacturer measured component vibration is found to be inaccurate, causing the aircraft to be more prone to flutter than thought.\nJanuary 11 – Pan American World Airways Flight 1, a Sikorsky S-42 flying boat named the Samoan Clipper, explodes over Pago Pago, American Samoa; all seven on board die.\nMarch 1 – The 1938 Yosemite TWA crash: A Douglas DC-2 disappears on a flight from San Francisco to Winslow, Arizona, United States; the aircraft is found three months later on a mountain in Yosemite National Park; all nine on board die.\nJuly 28 – Pan American World Airways Flight 229, a Martin M-130 flying boat named the Hawaii Clipper, disappears in the Pacific Ocean westbound from Guam to Manila with six passengers and nine crew.\nOctober 25 – Kyeema, an Australian National Airways Douglas DC-2 crashes in heavy fog into Mount Dandenong in Victoria, Australia, killing all 18 people on board.\nNovember 4 – In the 1938 Jersey Airport disaster, a Jersey Airways de Havilland DH.86 crashes on takeoff from Jersey Airport due to pilot error; all 13 passengers and crew die as well as one person on the ground.\n1939[edit]\nJanuary 13 – Northwest Airlines Flight 1, a Lockheed L14H Super Electra, crashes on descent to Miles City, Montana, United States, killing all four on board; the aircraft\'s cross-feed fuel valve leaked fuel into the cockpit and an intense fire broke out.\nJanuary 21 – Imperial Airways Short Empire flying boat Cavalier makes an emergency landing 285\xa0mi southeast of New York in the North Atlantic due to loss of power and later sinks; three of 12 on board die.\nAugust 13 – A Pan Am Sikorsky S-43 crashes into Guanabara Bay, Brazil, due to loss of control following engine failure, killing 12 of 14 on board.\n1940[edit]\nJune 14 – In the Kaleva shootdown, an Aero Junkers Ju 52 en route from Tallinn, Estonia to Helsinki, Finland, is shot down by two Soviet bombers over the Gulf of Finland during peacetime; all nine aboard die.\nAugust 31 – In the Lovettsville air disaster, Pennsylvania Central Airlines Trip 19, a Douglas DC-3A, crashes at Lovettsville, Virginia, United States, killing all 25 on board.\nNovember 8 – A Deutsche Luft Hansa Junkers Ju 90 crashes near Schönteichen, Saxony, Germany, after ice formed on the tail, killing all 29 passengers and crew on board.\n1941[edit]\nFebruary 26 – Eastern Air Lines Flight 21, a Douglas DC-3, crashes while descending to land at Atlanta, Georgia, United States, killing eight of 16 aboard; World War I hero and Eastern Air Lines president Eddie Rickenbacker is among the survivors.\nOctober 30 – Northwest Airlines Trip 5, a Douglas DC-3, crashed at Moorhead, Minnesota in fog due to icing; of the 15 on board, only pilot Clarence Bates survived.\nAmerican Airlines Flight 1 a Douglas DC-3, stalled and crashed at Lawrence Station, Ontario, Canada while attempting to find a place to land, killing all 20 on board; the cause of the crash was not determined.\n1942[edit]\nJanuary 16 – TWA Flight 3, a Douglas DC-3 returning to California crashes into Potosi Mountain 30 miles (48\xa0km) southwest of Las Vegas, Nevada, United States; all 22 aboard die, including actress Carole Lombard and her mother.\nJanuary 30 – Qantas Short Empire G-AEUH is shot down by seven Japanese fighters and crashes 13\xa0nmi (24\xa0km) from East Timor; 13 of 18 on board die.\nMarch 3 – KNILM Douglas DC-3 PK-AFV is shot down by three Japanese fighters and crashes 50\xa0mi (80\xa0km) north of Broome, Western Australia, killing four of 12 on board.\nOctober 23 – American Airlines Flight 28, a Douglas DC-3, crashes near Palm Springs, California, United States, after being struck by a U.S. Army Air Corps Lockheed B-34 bomber; all 12 aboard the airliner die, while the bomber lands safely with minor damage.\n1943[edit]\nJanuary 21 – Pan Am Flight 1104, a Martin M-130 nicknamed the Philippine Clipper, crashes into a mountain near Boonville, California, United States, killing all 19 passengers and crew, including Rear Admiral Robert H. English, Commander, Submarines, U.S. Pacific Fleet (COMSUBPAC).\nJune 1 – BOAC Flight 777, a Douglas DC-3, is shot down by Luftwaffe fighter aircraft over the Bay of Biscay, killing 17 passengers and crew on board.\nJuly 28 – American Airlines Flight 63 (Flagship Ohio), a Douglas DC-3, loses control due to severe turbulence and violent downdrafts and crashes near Trammel, Kentucky, United States, killing 20 out of 22 people on board.\nOctober 15 – American Airlines Flight 63 (Flagship Missouri), a DC-3, crashes near Centerville, Tennessee, United States, killing all eight passengers and three crewmembers, after ice formed on its wings and propellers.\n1944[edit]\nFebruary 10 – American Airlines Flight 2, a Douglas DC-3, crashes into the Mississippi River between Arkansas and Tennessee, United States, for reasons unknown, killing all 24 occupants (21 passengers and three crew members).\nJune 20 – TWA Flight 277, a Douglas C-54 Skymaster, crashes into Fort Mountain, Maine, United States, in severe weather, killing all seven passengers and crew on board.\n1945[edit]\nJanuary 8 – The China Clipper, a Pan Am Martin M-130 flying boat operating as Flight 161, crashes in Port of Spain, Trinidad, killing all 25 on board.\nJanuary 31 – The Stinson Tokana operated by Australian National Airways crashes, killing all 10 on board. The accident was caused by a fatigue crack in a wing spar.\nJuly 12 – Eastern Air Lines Flight 45, a Douglas DC-3A, collides with a Douglas A-26 Invader over Florence, South Carolina, United States. One of the 24 on the DC-3 and one of the two on the A-26 die.\nOctober 5 – National Airlines Flight 16, a Lockheed L-18 Lodestar, overshoots the runway at Lakeland, Florida, United States, killing two of 15 on board.\nNovember 3 – The prototype Boeing 314, named the Honolulu Clipper, makes an emergency landing in the Pacific 650 miles east of Oahu due to double engine failure; the aircraft is intentionally sunk after salvage was deemed impractical; all 26 passengers on board survive.\n1946[edit]\nJanuary 6 – Pennsylvania Central Airlines Flight 105, a Douglas DC-3, crashes in Birmingham, Alabama, United States, killing three of the four crew members; the flight attendant and all 16 passengers survive.\nMarch 10 – The 1946 Australian National Airways DC-3 crash near Hobart, Tasmania, kills all 25 on board.\nJuly 11 – TWA Flight 513, a Lockheed L-049 Constellation, crashes near Reading, Pennsylvania, United States, after a fire in the baggage compartment; of the six crew on board, only one survives.\nAugust 7 – British European Airways Flight 530, a Douglas C-47, crashes into Mistberget mountain near Eidsvoll, Norway; killing three of five crew; all 10 passengers survived.\nOctober 3 – An American Overseas Airlines Douglas C-54 crashes into mountainous terrain after takeoff from Stephenville, Newfoundland, killing all 39 passengers and crew on board.\nNovember 14 – In the 1946 KLM Douglas DC-3 Amsterdam accident, a Douglas DC-3 crashes while attempting to land at Amsterdam Schiphol Airport in the Netherlands; all 26 passengers and crew on board are killed.\nDecember 28 – TWA Flight 6963, a Lockheed L-049 Constellation, crashes near Shannon Airport due to an inaccurate altimeter caused by maintenance errors, killing nine of 23 on board.\n1947[edit]\nJanuary 11 – The 1947 BOAC Douglas C-47 crash: a BOAC Douglas C-47A crashes into Barley Hill near Stowting, Kent, United Kingdom, due to fuel starvation, killing eight of 16 on board.\nJanuary 12 – Eastern Air Lines Flight 665 Douglas C-49 flies into high ground near Galax, Virginia, when the pilot loses his bearings, killing all but one of 19 aboard.\nJanuary 25 – In the 1947 Croydon Dakota accident, a Spencer Airways Douglas C-47A fails to get airborne at Croydon Airport, United Kingdom, and crashes into a parked ČSA aircraft; 12 of the 22 on board are killed.\nJanuary 26 – In the 1947 KLM Douglas DC-3 Copenhagen accident, a Douglas DC-3 crashes shortly after takeoff from Kastrup Airport in Denmark; all 22 passengers and crew on board are killed.\nFebruary 15 – An Avianca Douglas DC-4 crashes into Mount El Tabalazo due to pilot error, killing all 53 passengers and crew on board.\nMay 29 – United Airlines Flight 521, a Douglas DC-4, crashes on takeoff from LaGuardia Airport, New York, United States, due to pilot error; 42 of 48 on board die.\nMay 30 – Eastern Air Lines Flight 605, a Douglas DC-4, loses control and crashes near Bainbridge, Maryland, United States, killing all 53 passengers and crew on board in the deadliest airliner crash in United States history at the time.\nJune 13 – Pennsylvania Central Airlines Flight 410, a Douglas DC-4, crashes into Lookout Rock, in the West Virginia Blue Ridge Mountains of the United States en route from Pittsburgh to Washington DC; all 50 passengers and crew are killed.\nJune 19 – Pan Am Flight 121, a Lockheed L-049 Constellation, crashes in the Syrian desert, en route from Karachi to Istanbul, killing 14 of the 36 on board.\nAugust 2 – In the 1947 BSAA Star Dust accident, a British South American Airways Avro Lancastrian named Star Dust disappears over the Andes after transmitting an enigmatic coded message ("STENDEC"); the fate of the plane remained a mystery until the crash site was located in 2000; four crew and nine passengers are killed.\nAugust 28 – In the Kvitbjørn disaster, a Norwegian Air Lines Short Sandringham flying boat struck a mountain near Lødingsfjellet, Norway, killing all 35 on board.\nOctober 24 – United Airlines Flight 608, a Douglas DC-6, crashes near Bryce Canyon Airport, Utah, United States, when fire caused by a design flaw destroys the aircraft; all 52 on board die in the first hull loss of the DC-6.\nOctober 26 – Pan Am Flight 923, a Douglas DC-4, struck Tamgas Mountain on Annette Island, Alaska, killing all 18 passengers and crew on board; the cause is never determined.\nDecember 27 – In the 1947 Korangi Creek crash, an Air India Douglas DC-3 crashes shortly after takeoff, killing all 23 on board.\n1948[edit]\nJanuary 30 – The BSAA Star Tiger disappearance: an Avro Tudor IV disappears without a trace en route from the Azores to Bermuda with 31 on board. The loss of the aircraft along with the 1949 BSAA Star Ariel disappearance remain unsolved to this day, with the resulting speculation helping to develop the Bermuda Triangle legend.\nMarch 12 – Northwest Airlines Flight 4422, a Douglas C-54 Skymaster, crashes into Mount Sanford in the Alaska Territory, killing 30. Though the wreckage was initially found, it was inaccessible; it was later buried and not rediscovered until 1999.\nApril 5 – In the 1948 Gatow air disaster, a British European Airways Vickers VC.1 Viking crashes near RAF Gatow, Berlin after a collision with a Soviet Air Force Yakovlev Yak-3 fighter; all 14 people on board the Viking die, as well as the Soviet pilot.\nApril 15 – Pan Am Flight 1-10, a Lockheed Constellation, crashes while on approach to Shannon Airport, Ireland; of the 31 on board, only one survives.\nApril 21 – British European Airways Flight S200P, a Vickers VC.1 Viking, crashes into Irish Law Mountain in Scotland due to pilot error; all on board survive.\nJune 17 – United Airlines Flight 624, a Douglas DC-6, crashes near Mount Carmel, Pennsylvania, after errors in attempting to extinguish what was believed to have been an onboard fire; all 43 on board die.\nJuly 4 – The Northwood mid-air collision between a Scandinavian Airlines System-operated Douglas DC-6 and an RAF Avro York kills all 39 passengers and crew on board both aircraft.\nJuly 17 – Miss Macao, a Catalina seaplane operated by a Cathay Pacific subsidiary, over the Pearl River delta from Macau to Hong Kong, is hijacked with 23 passengers and three crew on board by a group attempting to rob the passengers; following a struggle in the cockpit, a crash kills all on board except one passenger, later identified as the lead hijacker; this is the earliest known airliner hijacking.\nAugust 1 – In the 1948 Air France Latécoère 631 disappearance, a Latécoère 631 disappears over the Atlantic Ocean with the loss of all 52 people on board. This was the worst aviation accident in the Atlantic

In [14]:
# TODO: Write selected_data to incidents_raw.txt
with open('incidents_raw.txt', 'w') as filename:
    filename.write(selected_data)

## Tasks for Step 2

(use Insert|Insert Cell Above or Insert Cell Below as needed to add further cells)

In [15]:
# fillna

# Replace NaNs with blanks if the column is a string, so we don’t get
# objects in the column
def fillna_col(series):
    if series.dtype is pd.np.dtype(object):
        return series.fillna('')
    else:
        return series

In [16]:
# TODO: Define nullify here

# Replace \Ns with NaNs
def nullify(x):
    return np.NaN if x=='\\N' else x

In [17]:
# TODO: regularize and remove nulls according to Step 2
airlines_df = airlines_df.applymap(nullify)
airports_df = airports_df.applymap(nullify)
routes_df = routes_df.applymap(nullify)
flights_df = flights_df.applymap(nullify)

In [18]:
routes_df = routes_df.dropna(subset=['airline_id', 'source_airport_id', 'dest_airport_id'], how='any')

In [19]:
airlines_df = airlines_df.apply(fillna_col)
airports_df = airports_df.apply(fillna_col)
routes_df = routes_df.apply(fillna_col)
flights_df = flights_df.apply(fillna_col)

In [20]:
labels = ['airline_id', 'source_airport_id', 'dest_airport_id']
for s in labels:
    routes_df[s] = routes_df[s].astype(int)

In [21]:
# TODO: read and clean raw text file and store in clean_incidents
clean_incidents = []
edit_regex = re.compile("\[edit\]")
current_year = ""
current_str = ""
modern = False
count = 0

with open('incidents_raw.txt') as file:
    for line in file:
        count += 1
        line_edit = re.sub(edit_regex, '', line)
        if (line_edit.strip().isdigit()):

            if (int(line_edit)<1997): 
                modern = False
                continue
            else: modern = True
                
            current_year = line_edit
            
             
        elif ((' – ' in line_edit) and modern and ('Flight' in line_edit)):
            to_add = current_year + line_edit.replace(" – ", " , ")
            to_add = to_add.replace("\n", " ")
            clean_incidents.append(to_add)
clean_incidents

['1997 January 9 , Comair Flight 3272, an Embraer EMB 120 Brasília, crashes near Ida, Michigan, during a snowstorm, killing all 29 on board. ',
 '1997 March 18 , Stavropolskaya Aktsionernaya Avia Flight 1023, an Antonov An-24, breaks up in flight and crashes near Cherkessk, Russia; all 50 on board die. ',
 '1997 April 19 , Merpati Nusantara Airlines Flight 106, a BAe ATP crashes during a failed go-around in bad weather at Buluh Tumbang International Airport, Indonesia. 15 of the 53 passengers and crew are killed. ',
 '1997 May 8 , China Southern Airlines Flight 3456, a Boeing 737, makes a hard landing in Shenzhen, China, during poor weather and crashes, killing 35 of the 74 people on board. ',
 '1997 July 31 , FedEx Express Flight 14, a McDonnell Douglas MD-11, crashes upon landing at Newark Liberty International Airport; the two crew members and three passengers escape uninjured. ',
 '1997 July 17 , Sempati Air Flight 304, a Fokker F27, crashes shortly after take off from Husein Sastranegara International Airport. 28 people were killed. ',
 '1997 August 6 , Korean Air Flight 801, a Boeing 747, crashes while attempting to land in heavy rain at Guam International Airport; of the 254 people on board, only 26 survive. ',
 '1997 August 10 , Formosa Airlines Flight 7601, a Dornier Do 228, crashes while attempting to land at Beigan, Lienchiang, in the Matsu Islands. All 16 passengers and crew on board are killed. ',
 '1997 September 3 , Vietnam Airlines Flight 815, a Tupolev Tu-134, crashes on approach to Phnom Penh International Airport in heavy rain, killing 64 of the 66 people on board. ',
 '1997 September 6 , Royal Brunei Airlines Flight 238, a Dornier Do 228, crashes into a hill side in Lambir Hills National Park, killing all 10 on board. ',
 '1997 September 26 , Garuda Indonesia Flight 152, an Airbus A300, crashes into a mountain near Buah Nabar, Indonesia, killing all 234 on board. ',
 '1997 October 10 , Austral Líneas Aéreas Flight 2553, a McDonnell Douglas DC-9, crashes near Fray Bentos, Uruguay, traveling from Posadas to Buenos Aires, resulting in the death of all 74 occupants. ',
 '1997 December 15 , Tajikistan Airlines Flight 3183, a Tupolev Tu-154, crashes into the desert near Sharjah Airport, of the 86 on board, only the flight engineer survives. ',
 '1997 December 17 , Aerosvit Flight 241, a Yakovlev Yak-42, crashes near Thessaloniki, Greece, killing all 70 people on board. ',
 '1997 December 19 , SilkAir Flight 185, a Boeing 737, crashes into the Musi River near Palembang, Indonesia, killing all 102 people on board. ',
 '1997 December 28 , United Airlines Flight 826, a Boeing 747, encounters severe turbulence two hours into the flight; the aircraft safely lands back in Tokyo; all survive the accident, but a passenger dies later; despite having no damage, the aircraft is written off. ',
 '1998 February 2 , Cebu Pacific Flight 387, a McDonnell Douglas DC-9, crashes into a mountain near Mount Sumagaya in Misamis Oriental in the Philippines, killing all 104 passengers and crew members on board. ',
 '1998 February 16 , China Airlines Flight 676, an Airbus A300, crashes into a residential area while attempting to land in Taipei, Taiwan. All 196 people on board are killed, in addition to six on the ground. ',
 '1998 March 22 , Philippine Airlines Flight 137, an Airbus A320, overshoots the end of the runway while landing at Bacolod City in the Philippines, plowing through several houses. None of the passengers was harmed, but three people on the ground are killed and several more injured. ',
 '1998 April 20 , Air France Flight 422, a Boeing 727 leased from TAME Airlines, crashes into the mountains east of Bogotá, Colombia, on takeoff from El Dorado International Airport of Bogotá in foggy weather. All 53 passengers and crew perish. ',
 '1998 May 25 , PIA Flight 544, a Fokker F-27, is hijacked shortly after takeoff by three armed men. F-16 fighter jets intercept the plane and force it to land. The hijackers are arrested and sentenced to death. All 38 on board survive. ',
 '1998 June 18 , Propair Flight 420, a Fairchild Metroliner crashes shortly after takeoff from Dorval Airport (now Montréal–Pierre Elliott Trudeau International Airport), Canada following an inflight fire. All 11 passengers and crew are killed. ',
 '1998 July 30 , Proteus Airlines Flight 706: a Beechcraft 1900D collides in mid-air with a light aircraft over Quiberon Bay. Both aircraft crash into the sea, killing 15 people. ',
 '1998 August 24 , Myanma Airways Flight 635, a Fokker F-27 Friendship, crashes while on approach to Tachilek Airport; all 36 on board die. ',
 "1998 August 29 , Cubana de Aviación Flight 389, a Tupolev Tu-154M overruns the runway whilst taking off from Quito's Mariscal Sucre International Airport, Ecuador, proceeding to crash into a soccer field. 70 of the 91 passengers and crew are killed, along with 10 on the ground. ",
 '1998 September 2 , Swissair Flight 111, a McDonnell Douglas MD-11, crashes into the sea near Halifax, Nova Scotia in Canada, because of an onboard fire. All 229 people on board perish. ',
 '1998 September 25 , PauknAir Flight 4101, a BAe 146, leaves Málaga but never reaches its destination in Melilla. All passengers and crew perish. ',
 '1998 September 29 , Lionair Flight 602, an Antonov An-24, is shot down by the Liberation Tigers of Tamil Eelam and crashes off the coast of Jaffna, Sri Lanka, killing all 55 on board. ',
 '1998 December 11 , Thai Airways International Flight 261, an Airbus A310, crashes during poor weather near Surat Thani, Thailand. Of the 146 people on board, 102 are killed. ',
 '1999 February 24 , China Southwest Airlines Flight 4509, a Tupolev Tu-154, crashes while on approach to Wenzhou Airport, killing all 61 passengers and crew on board. ',
 '1999 April 7 , Turkish Airlines Flight 5904, a Boeing 737-400, crashes in poor weather near Hamdilli, Ceyhan, Turkey; all six crew die. ',
 '1999 April 15 , Korean Air Cargo Flight 6316, a McDonnell Douglas MD-11F crashes shortly after takeoff from Shanghai Hongqiao Airport, China. All three crew members, as well as five on the ground, are killed. ',
 '1999 June 1 , American Airlines Flight 1420, a McDonnell Douglas MD-82 with 139 passengers on board, skids off the runway on landing and crashes into a steel walkway at Little Rock, Arkansas during strong winds; 11 are killed, and 86 are injured. ',
 '1999 July 24 , Air Fiji Flight 121, an Embraer EMB 110 Bandeirante crashes into a mountain en route to Nadi International Airport, Fiji. All 17 passengers and crew are killed. ',
 '1999 July 24 , All Nippon Airways Flight 61, a Boeing 747, is hijacked by a passenger, Yuji Nishizawa, wielding a knife; after fatally stabbing the captain, he is overpowered by the crew; the first officer lands the plane safely at Haneda, Japan. ',
 '1999 August 7 , TACV Flight 5002, a Dornier Do 228 crashes into a mountain whilst returning to São Pedro Airport, Cape Verde in poor weather. All 18 passengers and crew are killed. ',
 '1999 August 22 , China Airlines Flight 642, a McDonnell Douglas MD-11, crashes on landing at Hong Kong International Airport during "Typhoon" Sam; of the 315 people on board, three die. ',
 '1999 August 31 , LAPA Flight 3142, a Boeing 737, overshoots the runway in Buenos Aires, Argentina, and crashes into a golf course; of the 103 people on board, 63 are killed, as well as two on the ground. ',
 '1999 September 5 , Necon Air Flight 128, a BAe 748 collides with a telecommunications tower whilst on approach into Kathmandu Airport, Nepal. All 15 passengers and crew are killed. ',
 '1999 September 14 , Britannia Airways Flight 226A, a Boeing 757, veers off the runway at Girona, Catalonia Spain, while landing in a thunderstorm and comes to rest in a field, broken apart in two places; 43 on board are injured, two seriously, but a passenger initially diagnosed as "lightly injured" dies five days later of unnoticed internal injuries. ',
 '1999 September 23 , Qantas Flight 1, a Boeing 747 runs off the runway due to a storm and comes to a complete stop just short of a golf course. All on board including 30 injured passengers survive. ',
 '1999 October 31 , EgyptAir Flight 990, a Boeing 767 bound for Cairo, Egypt, crashes into the Atlantic Ocean off Nantucket, Massachusetts, killing all 217 passengers and crew; cause is disputed: a deliberate suicide/homicide act by the relief first officer according to the NTSB, vs. a Boeing mechanical flaw according to Egyptian aviation authorities. ',
 '1999 November 9 , TAESA Flight 725, a McDonnell Douglas DC-9, crashes near Uruapan, Mexico, killing all 18 on board. ',
 '1999 November 12 , Si Fly Flight 3275, an ATR 42-300 operating a UN relief flight strikes a mountain in poor weather whilst on approach into Pristina Airport, Kosovo. All 24 passengers and crew are killed. ',
 '1999 December 7 , Asian Spirit Flight 100, a Let L-410 Turbolet, crashes into a mountain while on approach to Cauayan Airport, killing all 15 passengers and crew on board. ',
 '1999 December 11 , SATA Air Açores Flight 530M, a BAe ATP crashes into a mountain whilst on approach into Flores Airport in the Azores. All 35 passengers and crew are killed. ',
 '1999 December 21 , Cubana de Aviación Flight 1216, a McDonnell Douglas DC-10, overruns the runway at La Aurora International Airport, killing 16 of 314 people on board and another two on the ground. ',
 '1999 December 22 , Korean Air Cargo Flight 8509, a Boeing 747-200F, crashes after takeoff near Great Hallingbury, England; killing all four crew. ',
 '1999 December 24 , Indian Airlines Flight 814, an Airbus A300, is hijacked en route to Delhi, India; one hostage is killed. ',
 '1999 December 25 , Cubana de Aviación Flight 310, a Yakovlev Yak-42D, crashes into the San Luis Hill near Bejuma, Venezuela, while on approach to Arturo Michelena International Airport; all 22 on board die. ',
 '2000 January 10 , Crossair Flight 498, a Saab 340, crashes two minutes after takeoff in Niederhasli, Switzerland, killing all 10 people on board. ',
 "2000 January 30 , Kenya Airways Flight 431, an Airbus A310, carrying 169 passengers and 10 crew members, crashes into the Atlantic Ocean off Côte d'Ivoire after takeoff from Abidjan. Only 10 people survive. ",
 '2000 January 31 , Alaska Airlines Flight 261, an MD-83, crashes into the Pacific Ocean off Point Mugu, California, after problems with its horizontal stabilizer. All 83 passengers and five crew members are killed. ',
 '2000 February 16 , Emery Worldwide Flight 17, a DC-8-71F crashes into a salvage yard shortly after takeoff from Sacramento Mather Airport, California. All three crew members are killed. ',
 '2000 March 5 , Southwest Airlines Flight 1455, a Boeing 737-300, overruns the runway in Burbank, California. Of the 142 people on board, 43 are injured, two seriously. ',
 '2000 April 19 , Air Philippines Flight 541, a Boeing 737-200, crashes in a coconut plantation on Samal Island, Davao del Norte while preparing to approach the Davao International Airport, killing all 131 people on board in the worst ever accident involving the 737-200. ',
 '2000 June 22 , Wuhan Airlines Flight 343, a Xian Y-7, is struck by lightning and crashes in Hanyang District, Wuhan, killing all 42 on board and another seven on the ground in the worst ever accident involving the Y-7. ',
 '2000 July 4 , Malév Flight 262, a Tupolev Tu-154, lands on its belly at Thessaloniki International Airport in Greece. There are no serious injuries or fatalities. ',
 '2000 July 8 , Aerocaribe Flight 7831, a British Aerospace Jetstream 32, crashes near Chulum Juárez, Mexico, killing all 19 on board. ',
 '2000 July 12 , Hapag-Lloyd Flight 3378, an Airbus A310, crash-lands 650 metres short of the runway in Vienna after running out of fuel in flight. There are no serious injuries or fatalities. ',
 '2000 July 17 , Alliance Air Flight 7412, a Boeing 737-200, crashes into government housing in Patna, India, as it approaches the airport, killing 55 of the 58 on board and five people on the ground. ',
 '2000 July 25 , Air France Flight 4590, a Concorde crashes during takeoff from Paris, France, after striking debris on the runway, killing all 100 passengers and nine crew aboard as well as four on the ground; the entire Concorde fleet is grounded for one year. ',
 '2000 August 23 , Gulf Air Flight 072, an Airbus A320, crashes into the Persian Gulf off Manama, Bahrain, while attempting to land. All 135 passengers and eight crew members are killed. ',
 '2000 October 31 , Singapore Airlines Flight 006, a Boeing 747-400, strikes construction equipment after using a closed runway for takeoff at Chiang Kai-shek International Airport, Taiwan, killing 83 out of 179 people on board. ',
 '2000 November 18 , Dirgantara Air Service Flight 3130, a Britten Norman Islander BN-2 crashes shortly after take off from Datah Dawai Airport in East Kalimantan, Indonesia. No one is killed, but all on board were injured, 11 seriously. ',
 '2000 December 20 , British Airways Flight 2069, in Sudanese airspace at 35,000\xa0ft, a hijacker storms the cabin in an attempt to send the plane into a nosedive. However, Captain William Hagan and First Officer Richard Webb help subdue the mentally ill hijacker, while First Officer Phil Watson levels the flight. None of the 398 on board is seriously injured. ',
 "2001 January 23 , Yemenia Flight 448, a Boeing 727, is hijacked 15 minutes after takeoff from Sana'a International Airport, Yemen; the crew makes an emergency landing at Djibouti; the hijacker is subdued with no casualties to the 101 on board. ",
 '2001 January 25 , RUTACA Airlines Flight 225, a Douglas DC-3 crashes shortly after takeoff from Tomás de Heres Airport, Venezuela as a result of an engine failure. All 24 passengers and crew were killed. ',
 '2001 January 31 , In the 2001 Japan Airlines mid-air incident, Japan Airlines Flight 907, a Douglas DC-10, and Japan Airlines Flight 958, a Boeing 747, narrowly avoid colliding by a margin of 36 feet (11 meters) near Yaizu, Japan. ',
 '2001 February 27 , Loganair Flight 670A, a Short 360 operating a postal flight crashes shortly after takeoff from Edinburgh Airport, Scotland as a result of a double engine failure. Both crew members are killed. ',
 '2001 March 3 , Thai Airways International Flight 114, a Boeing 737-400 is destroyed by an explosion while on the tarmac at Don Mueang Airport, Thailand. One flight attendant is killed in the explosion, which happened prior to boarding. ',
 '2001 March 24 , Air Caraïbes Flight 1501, a DHC-6 Twin Otter crashes into a house whilst on approach into Saint Barthélemy Airport, Guadeloupe. All 19 passengers and crew, as well as one person on the ground, are killed. ',
 '2001 July 4 , Vladivostok Air Flight 352, a Tupolev Tu-154 enters a flat spin on approach to Irkutsk Airport in Irkutsk, Russia, crashes down onto its belly and bursts into flames in a wooded area, killing all 145 aboard. ',
 '2001 August 24 , Air Transat Flight 236, an Airbus A330, runs out of fuel over the Atlantic Ocean and makes an emergency landing in the Azores. Upon landing some of the tires blow out, causing a fire that is extinguished by emergency personnel on the ground. None of the 304 people on board the aircraft is seriously injured. ',
 '2001 August 29 , Binter Mediterráneo Flight 8261, a CASA CN-235, suffers port engine failure and crashes onto the N-340 road while attempting to make an emergency landing at Ruiz Picasso International Airport, killing four of 43 on board; the pilot initially survives, but dies several hours later. ',
 '2001 September 11 , American Airlines Flight 11, a Boeing 767-200ER with 92 people on board, is hijacked after taking off from Boston, and is flown into the north tower of the World Trade Center in New York City; all on board are killed as well as around 1600 people on the ground and in the building; the collapse of both towers brings the total death toll from the two crashes to at least 2,763, the worst disaster involving commercial aircraft. ',
 '2001 September 11 , United Airlines Flight 175, a Boeing 767-200 with 65 people on board, is hijacked after taking off from Boston and is flown into the south tower of the World Trade Center in New York City; all on board are killed as well as around 900 people on the ground and in the building; the collapse of both towers brings the total death toll from the two crashes to at least 2,763, the worst disaster involving commercial aircraft. ',
 '2001 September 11 , American Airlines Flight 77, a Boeing 757-200 with 64 people on board, is hijacked after taking off from Dulles International Airport and is flown into The Pentagon; all on board are killed as well as 125 people in the building and on the ground. ',
 '2001 September 11 , United Airlines Flight 93, a Boeing 757-200 with 44 people on board, is hijacked after taking off from Newark, New Jersey; passengers struggle with the hijackers, and the aircraft crashes in a field near Shanksville, Pennsylvania, killing all on board. ',
 '2001 September 11 , American Airlines Flight 11, a Boeing 767-200ER with 92 people on board, is hijacked after taking off from Boston, and is flown into the north tower of the World Trade Center in New York City; all on board are killed as well as around 1600 people on the ground and in the building; the collapse of both towers brings the total death toll from the two crashes to at least 2,763, the worst disaster involving commercial aircraft. ',
 '2001 September 11 , United Airlines Flight 175, a Boeing 767-200 with 65 people on board, is hijacked after taking off from Boston and is flown into the south tower of the World Trade Center in New York City; all on board are killed as well as around 900 people on the ground and in the building; the collapse of both towers brings the total death toll from the two crashes to at least 2,763, the worst disaster involving commercial aircraft. ',
 '2001 September 11 , American Airlines Flight 77, a Boeing 757-200 with 64 people on board, is hijacked after taking off from Dulles International Airport and is flown into The Pentagon; all on board are killed as well as 125 people in the building and on the ground. ',
 '2001 September 11 , United Airlines Flight 93, a Boeing 757-200 with 44 people on board, is hijacked after taking off from Newark, New Jersey; passengers struggle with the hijackers, and the aircraft crashes in a field near Shanksville, Pennsylvania, killing all on board. ',
 '2001 October 4 , Siberia Airlines Flight 1812, a Tupolev Tu-154, is shot down by the Ukrainian military over the Black Sea. All 66 passengers and 12 crew members are killed. ',
 '2001 October 8 , In the Linate Airport disaster, Scandinavian Airlines Flight 686, an MD-87, crashes into a Cessna business jet on takeoff from Milan, Italy. The MD-87 then swerves into a baggage handling building and catches fire. All 110 people on board Flight 686 die as well as all four in the Cessna. Four people on the ground are also killed. ',
 "2001 November 12 , American Airlines Flight 587, an Airbus A300, crashes into a Queens neighborhood in New York City when the plane's vertical tail fin snaps off just after takeoff due to overuse of the rudder by the first officer during a wake turbulence encounter. All 251 passengers and nine crew members on board are killed as well as five people on the ground. ",
 '2001 November 24 , Crossair Flight 3597, an Avro RJ100, crashes near Bassersdorf, Switzerland, while attempting to land in Zürich. Of the 28 passengers and five crew members on board, 21 passengers and three crew members die. ',
 '2001 December 22 , On board American Airlines Flight 63, a Boeing 767, a passenger, Richard Reid, attempts to detonate explosives hidden in his shoes, but fails and is subdued by two flight attendants and passengers. The plane lands safely in Boston. ',

In [22]:
def get_airline(messyString):
    airline_regex = re.compile('([A-Z]\w+(\s[A-Z][a-z]+)*) Flight')
    return re.findall(airline_regex, messyString)[0][0]

def get_flight_number(messyString):
    flight_num_regex = re.compile('Flight\s[0-9]*\w*')
    return re.findall(flight_num_regex, messyString)[0].replace('Flight ', '')

In [23]:
# TODO: convert clean_incidents into dataframe incidents_df
incidents_df = pd.DataFrame(columns=['Date', 'Airline', 'FlightNum'])
airline_regex = re.compile('– .*Flight')

for incident in clean_incidents:
    date = incident.split(' , ')[0]
    airline = get_airline(incident)
    flight_num = get_flight_number(incident)
    incidents_df = incidents_df.append({'Date':date, 'Airline':airline, 'FlightNum':flight_num}, ignore_index=True)

In [24]:
import datetime
# TODO: change column type of 'Date'
incidents_df['Date'] = pd.to_datetime(incidents_df['Date'])
incidents_df = incidents_df.drop_duplicates()

## Step 2

In [25]:
airports_df

,airport_id,name,city,country,FAA/IATA_code,ICAO_code,latitude,longitude,altitude,timezone,DST,Tz_DB_time_zone
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule
10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0.0,N,Atlantic/Reykjavik
11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0.0,N,Atlantic/Reykjavik
12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0.0,N,Atlantic/Reykjavik
13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0.0,N,Atlantic/Reykjavik
14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0.0,N,Atlantic/Reykjavik
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985000,-22.605556,171,0.0,N,Atlantic/Reykjavik
16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965000,11,0.0,N,Atlantic/Reykjavik
17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.130000,-21.940556,48,0.0,N,Atlantic/Reykjavik
18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0.0,N,Atlantic/Reykjavik
19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0.0,N,Atlantic/Reykjavik
20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5.0,A,America/Toronto
21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.032500,760,-6.0,A,America/Winnipeg
22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4.0,A,America/Halifax
23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.772500,80,-8.0,A,America/Vancouver
25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7.0,A,America/Edmonton
26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204444,71,-5.0,A,America/Toronto
27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5.0,A,America/Toronto
28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6.0,A,America/Winnipeg
29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8.0,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...
8077,9512,Port of Seattle,Seattle,United States,,PSEA,47.609178,-122.350605,0,-8.0,A,America/Los_Angeles
8078,9513,Ferry Terminal,Whittier,United States,,WHIT,60.776566,-148.683367,0,-9.0,A,America/Anchorage
8079,9514,Ferry Terminal,Valdez,United States,,VLDZ,61.123976,-146.365309,0,-9.0,A,America/Anchorage
8080,9515,Gare Routiere,Saint-Louis,Reunion,,STLS,-21.289604,55.407269,103,4.0,E,Indian/Reunion
8081,9516,Bus Stop,La Riviere,Reunion,,LRIV,-21.272574,55.437706,190,4.0,E,Indian/Reunion
8082,9517,Bus Stop,Cilaos,Reunion,,CILS,-21.135518,55.472087,4000,4.0,E,Indian/Reunion
8083,9518,Bus Stop,Hell-Bourg,Reunion,,HLBG,-21.064020,55.518453,3000,4.0,E,Indian/Reunion
8084,9519,Bus Stop,Salazie,Reunion,,SLZI,-21.027485,55.538955,3000,4.0,E,Indian/Reunion
8085,9520,Gare,St Andre,Reunion,,ANDR,-20.963272,55.652508,100,4.0,E,Indian/Reunion
8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,,SDNS,-20.877683,55.457393,0,4.0,E,Indian/Reunion
8087,9522,Gare Routiere,Saint Pierre,Reunion,,STPR,-21.334240,55.471331,0,4.0,E,Indian/Reunion
8088,9523,Baie Ste Anne,Praslin,Seychelles,,PLIN,-4.347119,55.765688,0,4.0,N,Indian/Mahe
8089,9524,La Passe,La Digue,Seychelles,,LADG,-4.347969,55.829069,0,4.0,N,Indian/Mahe
8090,9525,Ferry Dock,Bainbridge Island,United States,,BAIN,47.622237,-122.509362,0,-8.0,A,America/Los_Angeles
8091,9526,Bus,Phnom Penh,Cambodia,,PNMP,11.561716,104.914276,0,7.0,N,Asia/Phnom_Penh
8092,9527,Bus,Siem Reap,Cambodia,,SMRP,13.361002,103.859543,0,7.0,N,Asia/Phnom_Penh
8093,9528,Bus,Sihanoukville,Cambodia,,SNKV,10.607220,103.524886,0,7.0,N,Asia/Phnom_Penh
8094,9529,Bus,Kampot,Cambodia,,KMPT,10.614922,104.177724,0,7.0,N,Asia/Phnom_Penh
8095,9530,Bus,Kep,Cambodia,,KEPC,10.480174,104.294228,0,7.0,N,Asia/Phnom_Penh
8096,9531,Main Station,Taipei,Taiwan,,TPEI,25.046176,121.517532,0,8.0,N,Asia/Taipei
8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,9533,Chatsworth Station,Chatsworth,United States,CWT,,34.256944,-118.598889,978,-8.0,A,America/Los_Angeles
8099,9534,Algerciras Port,Algerciras,Spain,,,36.136000,-5.435000,0,1.0,E,Europe/Madrid
8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,,48.850000,-123.500000,0,-8.0,A,America/Vancouver
8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,,49.616667,-124.016667,0,-8.0,A,America/Vancouver
8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,,50.066667,-124.983333,0,-8.0,A,America/Vancouver
8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,,50.575556,-127.028611,225,-8.0,A,America/Vancouver
8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,,50.883333,-126.833333,0,-8.0,A,America/Vancouver
8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,,48.618397,-123.005960,0,-8.0,A,America/Los_Angeles
8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,,32.755200,-117.199500,0,-8.0,A,America/Los_Angeles

In [26]:
airlines_df

,airline_id,name,alias,IATA,ICAO,call_sign,country,active
0,1,Private flight,,-,,,,Y
1,2,135 Airways,,,GNL,GENERAL,United States,N
2,3,1Time Airline,,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,,,WYT,,United Kingdom,N
4,5,213 Flight Unit,,,TFU,,Russia,N
5,6,223 Flight Unit State Airline,,,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,,,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,,,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,,,SEC,SECUREX,United States,N
9,10,40-Mile Air,,Q5,MLA,MILE-AIR,United States,Y
10,11,4D Air,,,QRT,QUARTET,Thailand,N
11,12,611897 Alberta Limited,,,THD,DONUT,Canada,N
12,13,Ansett Australia,,AN,AAA,ANSETT,Australia,Y
13,14,Abacus International,,1B,,,Singapore,Y
14,15,Abelag Aviation,,W9,AAB,ABG,Belgium,N
15,16,Army Air Corps,,,AAC,ARMYAIR,United Kingdom,N
16,17,Aero Aviation Centre Ltd.,,,AAD,SUNRISE,Canada,N
17,18,Aero Servicios Ejecutivos Internacionales,,,SII,ASEISA,Mexico,N
18,19,Aero Biniza,,,BZS,BINIZA,Mexico,N
19,20,Aero Albatros,,,ABM,ALBATROS ESPANA,Spain,N
20,21,Aigle Azur,,ZI,AAF,AIGLE AZUR,France,Y
21,22,Aloha Airlines,,AQ,AAH,ALOHA,United States,Y
22,23,Alaska Island Air,,,AAK,ALASKA ISLAND,United States,N
23,24,American Airlines,,AA,AAL,AMERICAN,United States,Y
24,25,Aviation Management Corporation,,,AAM,AM CORP,United States,N
25,26,Atlantis Airlines (USA),,,AAO,ATLANTIS AIR,United States,N
26,27,Aerovista Airlines,,,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,28,Asiana Airlines,,OZ,AAR,ASIANA,Republic of Korea,Y
28,29,Askari Aviation,,4K,AAS,AL-AAS,Pakistan,Y
29,30,Australia Asia Airlines,,,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...
6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,,CCB,,Barbados,Y
6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,19745,Transilvania,,,TNS,,Romania,Y
6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,19776,Grand Cru Airlines,,,GCA,,Lithuania,Y
6028,19785,Go2Sky,,,RLX,RELAX,Slovakia,Y
6029,19803,All Argentina,All Argentina,L1,AL1,,Argentina,Y
6030,19804,All America,All America,A2,AL2,,United States,Y
6031,19805,All Asia,All Asia,L9,AL3,,China,Y
6032,19806,All Africa,All Africa,9A,99F,,South Africa,Y
6033,19807,Regionalia México,Regionalia México,N4,J88,,Mexico,Y
6034,19808,All Europe,All Europe,N9,N99,,United Kingdom,Y
6035,19809,All Spain,All Spain,N7,N77,,Spain,Y
6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,,Iceland,Y
6037,19811,British Air Ferries,,??,??!,,United Kingdom,N
6038,19812,Voestar,Voestar Brasil,8K,K88,,Brazil,Y
6039,19813,All Colombia,All Colombia,7O,7KK,,Colombia,Y
6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,,Uruguay,Y
6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,,Venezuela,Y
6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,,Chile,Y
6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,,Cuba,Y
6044,19830,All Australia,All Australia,88,8K8,,Australia,Y
6045,19831,Fly Europa,,ER,RWW,,Spain,Y
6046,19834,FlyPortugal,,PO,FPT,FlyPortugal,Portugal,Y
6047,19845,FTI Fluggesellschaft,,,FTI,,Germany,N

In [27]:
routes_df

,airline,airline_id,source_airport,source_airport_id,dest_airport,dest_airport_id,codeshare,stops,equipment
0,2B,410,AER,2965,KZN,2990,,0,CR2
1,2B,410,ASF,2966,KZN,2990,,0,CR2
2,2B,410,ASF,2966,MRV,2962,,0,CR2
3,2B,410,CEK,2968,KZN,2990,,0,CR2
4,2B,410,CEK,2968,OVB,4078,,0,CR2
5,2B,410,DME,4029,KZN,2990,,0,CR2
6,2B,410,DME,4029,NBC,6969,,0,CR2
8,2B,410,DME,4029,UUA,6160,,0,CR2
9,2B,410,EGO,6156,KGD,2952,,0,CR2
10,2B,410,EGO,6156,KZN,2990,,0,CR2
11,2B,410,GYD,2922,NBC,6969,,0,CR2
12,2B,410,KGD,2952,EGO,6156,,0,CR2
13,2B,410,KZN,2990,AER,2965,,0,CR2
14,2B,410,KZN,2990,ASF,2966,,0,CR2
15,2B,410,KZN,2990,CEK,2968,,0,CR2
16,2B,410,KZN,2990,DME,4029,,0,CR2
17,2B,410,KZN,2990,EGO,6156,,0,CR2
18,2B,410,KZN,2990,LED,2948,,0,CR2
19,2B,410,KZN,2990,SVX,2975,,0,CR2
20,2B,410,LED,2948,KZN,2990,,0,CR2
21,2B,410,LED,2948,NBC,6969,,0,CR2
22,2B,410,LED,2948,UUA,6160,,0,CR2
23,2B,410,MRV,2962,ASF,2966,,0,CR2
24,2B,410,NBC,6969,DME,4029,,0,CR2
25,2B,410,NBC,6969,GYD,2922,,0,CR2
26,2B,410,NBC,6969,LED,2948,,0,CR2
27,2B,410,NBC,6969,SVX,2975,,0,CR2
28,2B,410,NJC,2972,SVX,2975,,0,CR2
29,2B,410,NJC,2972,UUA,6160,,0,CR2
30,2B,410,NUX,4364,SVX,2975,,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178,SYD,3361,ABX,3333,,0,SF3
67634,ZL,4178,SYD,3361,ARM,4062,,0,SF3
67635,ZL,4178,SYD,3361,BHQ,6241,,0,SF3
67636,ZL,4178,SYD,3361,BHS,6249,,0,SF3
67637,ZL,4178,SYD,3361,BNK,4291,,0,SF3
67638,ZL,4178,SYD,3361,DBO,3358,,0,SF3
67639,ZL,4178,SYD,3361,GFF,6271,,0,SF3
67640,ZL,4178,SYD,3361,LSY,6287,,0,SF3
67641,ZL,4178,SYD,3361,MIM,6294,,0,SF3
67642,ZL,4178,SYD,3361,MQL,6298,,0,SF3
67643,ZL,4178,SYD,3361,MYA,6302,,0,SF3
67644,ZL,4178,SYD,3361,NRA,6307,,0,SF3
67645,ZL,4178,SYD,3361,NTL,4320,,0,SF3
67646,ZL,4178,SYD,3361,OAG,6793,,0,SF3
67647,ZL,4178,SYD,3361,PKE,6317,,0,SF3
67648,ZL,4178,SYD,3361,TRO,6794,,0,SF3
67649,ZL,4178,SYD,3361,WGA,3363,,0,SF3
67650,ZL,4178,TRO,6794,GFN,6792,,0,SF3
67651,ZL,4178,TRO,6794,SYD,3361,,0,SF3
67652,ZL,4178,TSV,3330,ISA,3324,,0,SF3
67653,ZL,4178,TSV,3330,WIN,6337,,0,SF3
67654,ZL,4178,WGA,3363,MEL,3339,,0,SF3
67655,ZL,4178,WGA,3363,SYD,3361,,0,SF3
67656,ZL,4178,WIN,6337,LRE,6289,,0,SF3
67657,ZL,4178,WIN,6337,TSV,3330,,0,SF3
67658,ZL,4178,WYA,6334,ADL,3341,,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,,0,734
67660,ZM,19016,FRU,2912,DME,4029,,0,734
67661,ZM,19016,FRU,2912,OSS,2913,,0,734
67662,ZM,19016,OSS,2913,FRU,2912,,0,734

In [28]:
incidents_df

          Date                            Airline FlightNum
0   1997-01-09                             Comair      3272
1   1997-03-18  Stavropolskaya Aktsionernaya Avia      1023
2   1997-04-19         Merpati Nusantara Airlines       106
3   1997-05-08            China Southern Airlines      3456
4   1997-07-31                      FedEx Express        14
5   1997-07-17                        Sempati Air       304
6   1997-08-06                         Korean Air       801
7   1997-08-10                   Formosa Airlines      7601
8   1997-09-03                   Vietnam Airlines       815
9   1997-09-06              Royal Brunei Airlines       238
10  1997-09-26                   Garuda Indonesia       152
11  1997-10-10                             Aéreas      2553
12  1997-12-15                Tajikistan Airlines      3183
13  1997-12-17                           Aerosvit       241
14  1997-12-19                            SilkAir       185
15  1997-12-28                    United Airlines       826
16  1998-02-02                       Cebu Pacific       387
17  1998-02-16                     China Airlines       676
18  1998-03-22                Philippine Airlines       137
19  1998-04-20                         Air France       422
20  1998-05-25                                PIA       544
21  1998-06-18                            Propair       420
22  1998-07-30                   Proteus Airlines       706
23  1998-08-24                     Myanma Airways       635
24  1998-08-29                           Aviación       389
25  1998-09-02                           Swissair       111
26  1998-09-25                           PauknAir      4101
27  1998-09-29                            Lionair       602
28  1998-12-11         Thai Airways International       261
29  1999-02-24           China Southwest Airlines      4509
..         ...                                ...       ...
301 2015-09-05    Ceiba Intercontinental Airlines        71
302 2015-09-08                    British Airways      2276
303 2015-10-02                           Aviastar      7503
304 2015-10-29                    Dynamic Airways       405
305 2015-10-31                           Metrojet      9268
306 2016-01-08                    West Air Sweden       294
307 2016-02-02                    Daallo Airlines       159
308 2016-02-24                           Tara Air       193
309 2016-03-19                           Flydubai       981
310 2016-03-29                           EgyptAir       181
311 2016-04-04                          Batik Air      7703
312 2016-05-19                           EgyptAir       804
313 2016-05-27                         Korean Air      2708
314 2016-06-27                 Singapore Airlines       368
315 2016-08-03                           Emirates       521
316 2016-08-05               ASL Airlines Hungary      7332
317 2016-08-27                 Southwest Airlines      3472
318 2016-10-28                  American Airlines       383
319 2016-10-28                      FedEx Express       910
320 2016-11-28                     LaMia Airlines      2933
321 2016-12-07    Pakistan International Airlines       661
322 2016-12-20                          Aerosucre      4544
323 2016-12-23                  Afriqiyah Airways       209
324 2017-01-16                   Turkish Airlines      6491
325 2017-03-28                  Peruvian Airlines       112
326 2017-05-27                         Summit Air       409
327 2017-07-07                         Air Canada       759
328 2017-09-30                         Air France        66
329 2017-12-13                 West Wind Aviation       280
330 2018-01-13                   Pegasus Airlines      8622

[322 rows x 3 columns]

## Tasks for Step 3

In [29]:
# TODO: add the SQLite3 starter code from Step 3
import sqlite3
engine = sqlite3.connect('HW1_DB')

# Use to_sql to save your Dataframes
airports_df.to_sql('airports_db', engine, if_exists = 'replace', index = False)
airlines_df.to_sql('airlines_db', engine, if_exists = 'replace', index = False)
flights_df.to_sql('flights_db', engine, if_exists = 'replace', index = False)
routes_df.to_sql('routes_db', engine, if_exists = 'replace', index = False)
incidents_df.to_sql('incidents_db', engine, if_exists = 'replace', index = False)

In [30]:
# Test that the data is there!

cursor = engine.execute('select * from incidents_db limit 1000')
rows = cursor.fetchall()
rows

[('1997-01-09 00:00:00', 'Comair', '3272'),
 ('1997-03-18 00:00:00', 'Stavropolskaya Aktsionernaya Avia', '1023'),
 ('1997-04-19 00:00:00', 'Merpati Nusantara Airlines', '106'),
 ('1997-05-08 00:00:00', 'China Southern Airlines', '3456'),
 ('1997-07-31 00:00:00', 'FedEx Express', '14'),
 ('1997-07-17 00:00:00', 'Sempati Air', '304'),
 ('1997-08-06 00:00:00', 'Korean Air', '801'),
 ('1997-08-10 00:00:00', 'Formosa Airlines', '7601'),
 ('1997-09-03 00:00:00', 'Vietnam Airlines', '815'),
 ('1997-09-06 00:00:00', 'Royal Brunei Airlines', '238'),
 ('1997-09-26 00:00:00', 'Garuda Indonesia', '152'),
 ('1997-10-10 00:00:00', 'Aéreas', '2553'),
 ('1997-12-15 00:00:00', 'Tajikistan Airlines', '3183'),
 ('1997-12-17 00:00:00', 'Aerosvit', '241'),
 ('1997-12-19 00:00:00', 'SilkAir', '185'),
 ('1997-12-28 00:00:00', 'United Airlines', '826'),
 ('1998-02-02 00:00:00', 'Cebu Pacific', '387'),
 ('1998-02-16 00:00:00', 'China Airlines', '676'),
 ('1998-03-22 00:00:00', 'Philippine Airlines', '137'),
 ('1998-04-20 00:00:00', 'Air France', '422'),
 ('1998-05-25 00:00:00', 'PIA', '544'),
 ('1998-06-18 00:00:00', 'Propair', '420'),
 ('1998-07-30 00:00:00', 'Proteus Airlines', '706'),
 ('1998-08-24 00:00:00', 'Myanma Airways', '635'),
 ('1998-08-29 00:00:00', 'Aviación', '389'),
 ('1998-09-02 00:00:00', 'Swissair', '111'),
 ('1998-09-25 00:00:00', 'PauknAir', '4101'),
 ('1998-09-29 00:00:00', 'Lionair', '602'),
 ('1998-12-11 00:00:00', 'Thai Airways International', '261'),
 ('1999-02-24 00:00:00', 'China Southwest Airlines', '4509'),
 ('1999-04-07 00:00:00', 'Turkish Airlines', '5904'),
 ('1999-04-15 00:00:00', 'Korean Air Cargo', '6316'),
 ('1999-06-01 00:00:00', 'American Airlines', '1420'),
 ('1999-07-24 00:00:00', 'Air Fiji', '121'),
 ('1999-07-24 00:00:00', 'All Nippon Airways', '61'),
 ('1999-08-07 00:00:00', 'TACV', '5002'),
 ('1999-08-22 00:00:00', 'China Airlines', '642'),
 ('1999-08-31 00:00:00', 'LAPA', '3142'),
 ('1999-09-05 00:00:00', 'Necon Air', '128'),
 ('1999-09-14 00:00:00', 'Britannia Airways', '226A'),
 ('1999-09-23 00:00:00', 'Qantas', '1'),
 ('1999-10-31 00:00:00', 'EgyptAir', '990'),
 ('1999-11-09 00:00:00', 'TAESA', '725'),
 ('1999-11-12 00:00:00', 'Si Fly', '3275'),
 ('1999-12-07 00:00:00', 'Asian Spirit', '100'),
 ('1999-12-11 00:00:00', 'Açores', '530M'),
 ('1999-12-21 00:00:00', 'Aviación', '1216'),
 ('1999-12-22 00:00:00', 'Korean Air Cargo', '8509'),
 ('1999-12-24 00:00:00', 'Indian Airlines', '814'),
 ('1999-12-25 00:00:00', 'Aviación', '310'),
 ('2000-01-10 00:00:00', 'Crossair', '498'),
 ('2000-01-30 00:00:00', 'Kenya Airways', '431'),
 ('2000-01-31 00:00:00', 'Alaska Airlines', '261'),
 ('2000-02-16 00:00:00', 'Emery Worldwide', '17'),
 ('2000-03-05 00:00:00', 'Southwest Airlines', '1455'),
 ('2000-04-19 00:00:00', 'Air Philippines', '541'),
 ('2000-06-22 00:00:00', 'Wuhan Airlines', '343'),
 ('2000-07-04 00:00:00', 'Malév', '262'),
 ('2000-07-08 00:00:00', 'Aerocaribe', '7831'),
 ('2000-07-12 00:00:00', 'Lloyd', '3378'),
 ('2000-07-17 00:00:00', 'Alliance Air', '7412'),
 ('2000-07-25 00:00:00', 'Air France', '4590'),
 ('2000-08-23 00:00:00', 'Gulf Air', '072'),
 ('2000-10-31 00:00:00', 'Singapore Airlines', '006'),
 ('2000-11-18 00:00:00', 'Dirgantara Air Service', '3130'),
 ('2000-12-20 00:00:00', 'British Airways', '2069'),
 ('2001-01-23 00:00:00', 'Yemenia', '448'),
 ('2001-01-25 00:00:00', 'RUTACA Airlines', '225'),
 ('2001-01-31 00:00:00', 'Japan Airlines', '907'),
 ('2001-02-27 00:00:00', 'Loganair', '670A'),
 ('2001-03-03 00:00:00', 'Thai Airways International', '114'),
 ('2001-03-24 00:00:00', 'Caraïbes', '1501'),
 ('2001-07-04 00:00:00', 'Vladivostok Air', '352'),
 ('2001-08-24 00:00:00', 'Air Transat', '236'),
 ('2001-08-29 00:00:00', 'Mediterráneo', '8261'),
 ('2001-09-11 00:00:00', 'American Airlines', '11'),
 ('2001-09-11 00:00:00', 'United Airlines', '175'),
 ('2001-09-11 00:00:00', 'American Airlines', '77'),
 ('2001-09-11 00:00:00', 'United Airlines', '93'),
 ('2001-10-04 00:00:00', 'Siberia Airlines', '1812'),
 ('2001-10-08 00:00:00', 'Scandinavian Airlines', '686'),
 ('2001-11-12 00:00:00', 'American Airlines', '587'),
 ('2001-11-24 00:00:00', 'Crossair', '3597'),
 ('2001-12-22 00:00:00', 'American Airlines', '63'),
 ('2002-01-14 00:00:00', 'Lion Air', '386'),
 ('2002-01-16 00:00:00', 'Garuda Indonesia', '421'),
 ('2002-01-28 00:00:00', 'TAME', '120'),
 ('2002-02-12 00:00:00', 'Iran Air Tours', '956'),
 ('2002-04-15 00:00:00', 'Air China', '129'),
 ('2002-05-04 00:00:00', 'EAS Airlines', '4226'),
 ('2002-05-07 00:00:00', 'EgyptAir', '843'),
 ('2002-05-07 00:00:00', 'China Northern Airlines', '6136'),
 ('2002-05-25 00:00:00', 'China Airlines', '611'),
 ('2002-07-01 00:00:00', 'Bashkirian Airlines', '2937'),
 ('2002-07-10 00:00:00', 'Swiss International Airlines', '850'),
 ('2002-08-30 00:00:00', 'Aéreas', '4823'),
 ('2002-10-09 00:00:00', 'Northwest Airlines', '85'),
 ('2002-11-06 00:00:00', 'Luxair', '9642'),
 ('2002-11-11 00:00:00', 'Laoag International Airlines', '585'),
 ('2003-01-08 00:00:00', 'Air Midwest', '5481'),
 ('2003-01-08 00:00:00', 'Turkish Airlines', '634'),
 ('2003-01-09 00:00:00', 'Perú', '222'),
 ('2003-03-06 00:00:00', 'Algérie', '6289'),
 ('2003-05-26 00:00:00', 'UM Airlines', '4230'),
 ('2003-05-29 00:00:00', 'Qantas', '1737'),
 ('2003-07-08 00:00:00', 'Sudan Airways', '139'),
 ('2003-12-18 00:00:00', 'FedEx Express', '647'),
 ('2003-12-25 00:00:00', 'UTAGE', '141'),
 ('2004-01-03 00:00:00', 'Flash Airlines', '604'),
 ('2004-01-13 00:00:00', 'Uzbekistan Airways', '1154'),
 ('2004-02-10 00:00:00', 'Kish Air', '7170'),
 ('2004-05-14 00:00:00', 'Aéreas', '4815'),
 ('2004-06-08 00:00:00', 'Gabon Express', '221'),
 ('2004-08-13 00:00:00', 'Air Tahoma', '185'),
 ('2004-08-24 00:00:00', 'Siberia Airlines', '1047'),
 ('2004-08-24 00:00:00', 'AviaExpress', '1303'),
 ('2004-10-14 00:00:00', 'MK Airlines', '1602'),
 ('2004-10-14 00:00:00', 'Pinnacle Airlines', '3701'),
 ('2004-10-19 00:00:00', 'Corporate Airlines', '5966'),
 ('2004-11-21 00:00:00', 'China Eastern Airlines', '5210'),
 ('2004-11-30 00:00:00', 'Lion Air', '538'),
 ('2005-02-03 00:00:00', 'Kam Air', '904'),
 ('2005-02-20 00:00:00', 'British Airways', '268'),
 ('2005-03-06 00:00:00', 'Air Transat', '961'),
 ('2005-03-16 00:00:00', 'Regional Airlines', '9288'),
 ('2005-06-09 00:00:00', 'US Airways', '1170'),
 ('2005-08-02 00:00:00', 'Air France', '358'),
 ('2005-08-06 00:00:00', 'Tuninter', '1153'),
 ('2005-08-10 00:00:00', 'Copterline', '103'),
 ('2005-08-14 00:00:00', 'Helios Airways', '522'),
 ('2005-08-16 00:00:00', 'West Caribbean Airways', '708'),
 ('2005-08-23 00:00:00', 'Perú', '204'),
 ('2005-09-05 00:00:00', 'Mandala Airlines', '091'),
 ('2005-09-21 00:00:00', 'JetBlue Airways', '292'),
 ('2005-10-22 00:00:00', 'Bellview Airlines', '210'),
 ('2005-12-08 00:00:00', 'Southwest Airlines', '1248'),
 ('2005-12-10 00:00:00', 'Sosoliso Airlines', '1145'),
 ('2005-12-19 00:00:00', 'Ocean Airways', '101'),
 ('2005-12-23 00:00:00', 'Azerbaijan Airlines', '217'),
 ('2006-03-31 00:00:00', 'Aéreas', '6865'),
 ('2006-05-03 00:00:00', 'Armavia', '967'),
 ('2006-07-09 00:00:00', 'S7 Airlines', '778'),
 ('2006-07-10 00:00:00', 'PIA', '688'),
 ('2006-08-13 00:00:00', 'Algérie', '2208'),
 ('2006-08-22 00:00:00', 'Pulkovo Aviation Enterprise', '612'),
 ('2006-08-27 00:00:00', 'Comair', '5191'),
 ('2006-09-01 00:00:00', 'Iran Air Tours', '945'),
 ('2006-09-29 00:00:00', 'Aéreos', '1907'),
 ('2006-10-03 00:00:00', 'Turkish Airlines', '1476'),
 ('2006-10-10 00:00:00', 'Atlantic Airways', '670'),
 ('2006-10-29 00:00:00', 'ADC Airlines', '53'),
 ('2007-01-01 00:00:00', 'Adam Air', '574'),
 ('2007-01-24 00:00:00', 'Air West', '612'),
 ('2007-02-21 00:00:00', 'Adam Air', '172'),
 ('2007-03-07 00:00:00', 'Garuda Indonesia', '200'),
 ('2007-03-17 00:00:00', 'UTair', '471'),
 ('2007-05-05 00:00:00', 'Kenya Airways', '507'),
 ('2007-06-25 00:00:00', 'PMTair', '241'),
 ('2007-07-17 00:00:00', 'TAM Airlines', '3054'),
 ('2007-08-09 00:00:00', 'Air Moorea', '1121'),
 ('2007-08-20 00:00:00', 'China Airlines', '120'),
 ('2007-09-09 00:00:00', 'Scandinavian Airlines', '1209'),
 ('2007-09-12 00:00:00', 'Scandinavian Airlines', '2748'),
 ('2007-10-27 00:00:00', 'Scandinavian Airlines', '2867'),
 ('2007-09-16 00:00:00', 'GO Airlines', '269'),
 ('2007-11-30 00:00:00', 'Atlasjet', '4203'),
 ('2007-12-30 00:00:00', 'TAROM', '3107'),
 ('2008-01-17 00:00:00', 'British Airways', '38'),
 ('2008-02-08 00:00:00', 'Eagle Airways', '2279'),
 ('2008-02-14 00:00:00', 'Belavia', '1834'),
 ('2008-02-21 00:00:00', 'Bárbara Airlines', '518'),
 ('2008-04-15 00:00:00', 'Hewa Bora Airways', '122'),
 ('2008-05-30 00:00:00', 'TACA', '390'),
 ('2008-06-10 00:00:00', 'Sudan Airways', '109'),
 ('2008-07-25 00:00:00', 'Qantas', '30'),
 ('2008-08-20 00:00:00', 'Spanair', '5022'),
 ('2008-08-24 00:00:00', 'Iran Aseman Airlines', '6895'),
 ('2008-08-27 00:00:00', 'Sriwijaya Air', '62'),
 ('2008-09-14 00:00:00', 'Aeroflot', '821'),
 ('2008-10-07 00:00:00', 'Qantas', '72'),
 ('2008-10-08 00:00:00', 'Yeti Airlines', '103'),
 ('2008-11-10 00:00:00', 'Ryanair', '4102'),
 ('2008-12-20 00:00:00', 'Continental Airlines', '1404'),
 ('2009-01-15 00:00:00', 'US Airways', '1549'),
 ('2009-02-12 00:00:00', 'Colgan Air', '3407'),
 ('2009-02-25 00:00:00', 'Turkish Airlines', '1951'),
 ('2009-03-12 00:00:00', 'Cougar Helicopters', '91'),
 ('2009-03-20 00:00:00', 'Emirates', '407'),
 ('2009-03-23 00:00:00', 'FedEx Express', '80'),
 ('2009-04-01 00:00:00', 'Bond Offshore Helicopters', '85N'),
 ('2009-04-19 00:00:00', 'CanJet', '918'),
 ('2009-06-01 00:00:00', 'Air France', '447'),
 ('2009-06-30 00:00:00', 'Yemenia', '626'),
 ('2009-07-13 00:00:00', 'Southwest Airlines', '2294'),
 ('2009-07-15 00:00:00', 'Caspian Airlines', '7908'),
 ('2009-07-24 00:00:00', 'Aria Air', '1525'),
 ('2009-08-02 00:00:00', 'Merpati Nusantara Airlines', '9760'),
 ('2009-08-04 00:00:00', 'Bangkok Airways', '266'),
 ('2009-08-11 00:00:00', 'PNG', '4684'),
 ('2009-09-09 00:00:00', 'Aeroméxico', '576'),
 ('2009-09-24 00:00:00', 'Airlink', '8911'),
 ('2009-10-21 00:00:00', 'Azza Transport', '2241'),
 ('2009-10-22 00:00:00', 'Divi Divi Air', '014'),
 ('2009-11-12 00:00:00', 'RwandAir', '205'),
 ('2009-11-28 00:00:00', 'Avient Aviation', '324'),
 ('2009-12-22 00:00:00', 'American Airlines', '331'),
 ('2009-12-25 00:00:00', 'Northwest Airlines', '253'),
 ('2010-01-24 00:00:00', 'Taban Air', '6437'),
 ('2010-01-25 00:00:00', 'Ethiopian Airlines', '409'),
 ('2010-03-22 00:00:00', 'TU', '1906'),
 ('2010-04-13 00:00:00', 'AeroUnion', '302'),
 ('2010-04-13 00:00:00', 'Merpati Nusantara Airlines', '836'),
 ('2010-04-13 00:00:00', 'Cathay Pacific', '780'),
 ('2010-05-12 00:00:00', 'Afriqiyah Airways', '771'),
 ('2010-05-17 00:00:00', 'Pamir Airways', '112'),
 ('2010-05-22 00:00:00', 'Air India Express', '812'),
 ('2010-07-27 00:00:00', 'Lufthansa Cargo', '8460'),
 ('2010-07-28 00:00:00', 'Airblue', '202'),
 ('2010-08-03 00:00:00', 'Katekavia', '9357'),
 ('2010-08-16 00:00:00', 'AIRES', '8250'),
 ('2010-08-24 00:00:00', 'Agni Air', '101'),
 ('2010-08-24 00:00:00', 'Henan Airlines', '8387'),
 ('2010-09-03 00:00:00', 'UPS Airlines', '6'),
 ('2010-09-07 00:00:00', 'Alrosa Mirny Air Enterprise', '514'),
 ('2010-09-13 00:00:00', 'Conviasa', '2350'),
 ('2010-11-04 00:00:00', 'Aero Caribbean', '883'),
 ('2010-11-04 00:00:00', 'Qantas', '32'),
 ('2010-11-28 00:00:00', 'Sun Way', '4412'),
 ('2010-12-04 00:00:00', 'Dagestan Airlines', '372'),
 ('2011-01-01 00:00:00', 'Kolavia', '348'),
 ('2011-01-09 00:00:00', 'Iran Air', '277'),
 ('2011-02-10 00:00:00', 'Manx2', '7100'),
 ('2011-02-14 00:00:00', 'Central American Airways', '731'),
 ('2011-04-01 00:00:00', 'Southwest Airlines', '812'),
 ('2011-05-07 00:00:00', 'Merpati Nusantara Airlines', '8968'),
 ('2011-05-18 00:00:00', 'Aéreas', '5428'),
 ('2011-06-20 00:00:00', 'RusAir', '9605'),
 ('2011-07-08 00:00:00', 'Hewa Bora Airways', '952'),
 ('2011-07-11 00:00:00', 'Angara Airlines', '5007'),
 ('2011-07-13 00:00:00', 'Aéreas', '4896'),
 ('2011-07-28 00:00:00', 'Asiana Airlines', '991'),
 ('2011-07-29 00:00:00', 'EgyptAir', '667'),
 ('2011-07-30 00:00:00', 'Caribbean Airlines', '523'),
 ('2011-08-20 00:00:00', 'First Air', '6560'),
 ('2011-09-06 00:00:00', 'Aerocon', '238'),
 ('2011-09-07 00:00:00', 'Service', '9634'),
 ('2011-09-25 00:00:00', 'Buddha Air', '103'),
 ('2011-09-29 00:00:00', 'Nusantara Buana Air', '823'),
 ('2011-10-13 00:00:00', 'PNG', '1600'),
 ('2011-10-18 00:00:00', 'Iran Air', '742'),
 ('2011-11-01 00:00:00', 'LOT Polish Airlines', '16'),
 ('2012-04-02 00:00:00', 'UTair', '120'),
 ('2012-04-20 00:00:00', 'Bhoja Air', '213'),
 ('2012-05-14 00:00:00', 'Agni Air', 'CHT'),
 ('2012-06-02 00:00:00', 'Allied Air', '111'),
 ('2012-06-03 00:00:00', 'Dana Air', '992'),
 ('2012-06-29 00:00:00', 'Tianjin Airlines', '7554'),
 ('2012-09-12 00:00:00', 'Kamchatsky Air', '251'),
 ('2012-09-28 00:00:00', 'Sita Air', '601'),
 ('2012-10-07 00:00:00', 'FlyMontserrat', '107'),
 ('2012-12-25 00:00:00', 'Air Bagan', '11'),
 ('2012-12-29 00:00:00', 'Red Wings Airlines', '9268'),
 ('2013-01-29 00:00:00', 'SCAT Airlines', '760'),
 ('2013-02-13 00:00:00', 'South Airlines', '8971'),
 ('2013-03-08 00:00:00', 'ACE Air Cargo', '51'),
 ('2013-04-13 00:00:00', 'Lion Air', '904'),
 ('2013-04-29 00:00:00', 'National Airlines', '102'),
 ('2013-05-16 00:00:00', 'Nepal Airlines', '555'),
 ('2013-06-10 00:00:00', 'Merpati Nusantara Airlines', '6517'),
 ('2013-07-06 00:00:00', 'Asiana Airlines', '214'),
 ('2013-08-14 00:00:00', 'UPS Airlines', '1354'),
 ('2013-10-03 00:00:00', 'Associated Aviation', '361'),
 ('2013-10-16 00:00:00', 'Lao Airlines', '301'),
 ('2013-11-17 00:00:00', 'Tatarstan Airlines', '363'),
 ('2013-11-29 00:00:00', 'LAM Mozambique Airlines', '470'),
 ('2014-02-16 00:00:00', 'Nepal Airlines', '183'),
 ('2014-02-17 00:00:00', 'Ethiopian Airlines', '702'),
 ('2014-03-08 00:00:00', 'Malaysia Airlines', '370'),
 ('2014-07-17 00:00:00', 'Malaysia Airlines', '17'),
 ('2014-07-23 00:00:00', 'TransAsia Airways', '222'),
 ('2014-07-24 00:00:00', 'Algérie', '5017'),
 ('2014-08-10 00:00:00', 'Sepahan Airlines', '5915'),
 ('2014-10-29 00:00:00', 'Skyway Enterprises', '7101'),
 ('2014-12-28 00:00:00', 'AirAsia', '8501'),
 ('2015-02-04 00:00:00', 'TransAsia Airways', '235'),
 ('2015-03-05 00:00:00', 'Delta Air Lines', '1086'),
 ('2015-03-24 00:00:00', 'Germanwings', '9525'),
 ('2015-03-29 00:00:00', 'Air Canada', '624'),
 ('2015-04-13 00:00:00', 'Carson Air', '66'),
 ('2015-04-14 00:00:00', 'Asiana Airlines', '162'),
 ('2015-04-25 00:00:00', 'Turkish Airlines', '1878'),
 ('2015-08-16 00:00:00', 'Trigana Air Service', '267'),
 ('2015-09-05 00:00:00', 'Ceiba Intercontinental Airlines', '71'),
 ('2015-09-08 00:00:00', 'British Airways', '2276'),
 ('2015-10-02 00:00:00', 'Aviastar', '7503'),
 ('2015-10-29 00:00:00', 'Dynamic Airways', '405'),
 ('2015-10-31 00:00:00', 'Metrojet', '9268'),
 ('2016-01-08 00:00:00', 'West Air Sweden', '294'),
 ('2016-02-02 00:00:00', 'Daallo Airlines', '159'),
 ('2016-02-24 00:00:00', 'Tara Air', '193'),
 ('2016-03-19 00:00:00', 'Flydubai', '981'),
 ('2016-03-29 00:00:00', 'EgyptAir', '181'),
 ('2016-04-04 00:00:00', 'Batik Air', '7703'),
 ('2016-05-19 00:00:00', 'EgyptAir', '804'),
 ('2016-05-27 00:00:00', 'Korean Air', '2708'),
 ('2016-06-27 00:00:00', 'Singapore Airlines', '368'),
 ('2016-08-03 00:00:00', 'Emirates', '521'),
 ('2016-08-05 00:00:00', 'ASL Airlines Hungary', '7332'),
 ('2016-08-27 00:00:00', 'Southwest Airlines', '3472'),
 ('2016-10-28 00:00:00', 'American Airlines', '383'),
 ('2016-10-28 00:00:00', 'FedEx Express', '910'),
 ('2016-11-28 00:00:00', 'LaMia Airlines', '2933'),
 ('2016-12-07 00:00:00', 'Pakistan International Airlines', '661'),
 ('2016-12-20 00:00:00', 'Aerosucre', '4544'),
 ('2016-12-23 00:00:00', 'Afriqiyah Airways', '209'),
 ('2017-01-16 00:00:00', 'Turkish Airlines', '6491'),
 ('2017-03-28 00:00:00', 'Peruvian Airlines', '112'),
 ('2017-05-27 00:00:00', 'Summit Air', '409'),
 ('2017-07-07 00:00:00', 'Air Canada', '759'),
 ('2017-09-30 00:00:00', 'Air France', '66'),
 ('2017-12-13 00:00:00', 'West Wind Aviation', '280'),
 ('2018-01-13 00:00:00', 'Pegasus Airlines', '8622')]